src/main/app/deliveries.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <sub-flow name="PI_SIP_DELIVERY_VRT">
        <set-variable variableName="eventName" value="PI_SIP_DELIVERY" doc:name="Set Name"/>
        <set-variable variableName="okstatus" value="#[true]" doc:name="Set OKstatus"/>
        <foreach collection="#[flowVars.files]" doc:name="For Each">
            <choice doc:name="Choice">
                <when expression="#[!payload.file_type.equals(&quot;sidecar&quot;)]">
                    <set-variable variableName="currentItem" value="#[payload]" doc:name="Set currentItem"/>
                    <set-variable variableName="sourceFileName" value="#[flowVars.currentItem.file_name]" doc:name="Set sourceFileName"/>
                    <set-variable variableName="sourceServer" value="#[flowVars.input.server]" doc:name="Set sourceServer"/>
                    <set-variable variableName="sourcePassword" value="#[flowVars.input.password]" doc:name="Set sourcePassword"/>
                    <set-variable variableName="sourcePath" value="#[flowVars.currentItem.file_path]" doc:name="Set sourcePath"/>
                    <set-variable variableName="sourceUsername" value="#[flowVars.input.username]" doc:name="Set sourceUsername"/>
                    <set-variable variableName="extension" value="#[payload.file_name.split(&quot;\\.(?=[^\\.]+$)&quot;)[1]]" doc:name="Set extension"/>
                    <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
                    <flow-ref name="while_too_much_active_transfers" doc:name="while_too_much_active_transfers"/>
                    <flow-ref name="while_free_space" doc:name="while_free_space"/>
                    
                    <dw:transform-message doc:name="Transform Message">
                        <dw:input-variable variableName="currentItem"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/json
---
{
	"destinationFile": flowVars.pid ++ '.' ++ flowVars.extension,
    "destinationHost": p('ftpDestination.vrt.host'),
    "destinationPassword": p('ftpDestination.vrt.password'),
    "destinationPath": p('ftpDestination.vrt.path'),
    "destinationUser": p('ftpDestination.vrt.username'),
    "sourceFile": flowVars.sourceFileName,
    "sourceHost": flowVars.sourceServer,
    "sourcePassword": flowVars.sourcePassword,
    "sourcePath": flowVars.sourcePath,
    "sourceUser": flowVars.sourceUsername
}]]></dw:set-payload>
                    </dw:transform-message>
                    <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                    <!-- 
                    <invoke object-ref="requestTransformer" method="Transform" methodArguments="#[payload], #[flowVars.pid], ${ftpDestination.path}, #[flowVars.input.cp_name]" doc:name="Invoke"/>
                    <set-variable variableName="temppath" value="#[payload.destinationPath + payload.destinationFile]" doc:name="Set file path"/>
                    <set-variable variableName="locationPath" value="#[payload.destinationPath]" doc:name="Set location path"/>
                    <json:object-to-json-transformer doc:name="Object to JSON"/>
                    -->
                    <http:request config-ref="Webservice_Configuration" path="/AdvancedFxpTransfer" method="POST" doc:name="HTTP" responseTimeout="-1">
                        <http:request-builder>
                            <http:query-param paramName="move" value="true"/>
                        </http:request-builder>
                        <http:success-status-code-validator values="200"/>
                    </http:request>
                    <json:json-to-object-transformer returnClass="answer.FXPResponse" doc:name="JSON to Object"/>
                    <message-filter throwOnUnaccepted="true" doc:name="Error if response is null">
            			<and-filter>
			                <expression-filter expression="#[flowVars.comment = &quot;Error occured in Webservice. Check webservice logs.&quot;]" />
							<expression-filter expression="#[payload.actie != null]"/>
			            </and-filter>
			        </message-filter>
                    <set-variable variableName="httpResult" value="#[((flowVars.httpResult ==null) ? &quot;&quot; : flowVars.httpResult + &quot;\n&quot;) + payload.toString() + &quot; - Path=&quot; + flowVars.temppath]" doc:name="Set HTTP result"/>
                    <set-variable variableName="okstatus" value="#[flowVars.okstatus &amp;&amp; payload.status.equals(&quot;OK&quot;)]" doc:name="Update OKstatus"/>
                </when>
                <otherwise>
                    <logger message="Deleting sidecar" level="INFO" doc:name="Log deletion of sidecar"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="#[flowVars.mappedXml]" doc:name="Set Payload"/>
        <flow-ref name="SidecarFTPVRT" doc:name="SidecarFTPVRT"/>
        <set-variable variableName="httpResult" value="#[flowVars.httpResult + &quot;\n&quot; + &quot;XML written:&quot; + flowVars.pid + &quot;.xml&quot;]" doc:name="Set HTTP result"/>
        <set-variable variableName="result" value="#[flowVars.okstatus ? 'OK' : 'NOK']" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_SIP_DELIVERY_RMM">
        <set-variable variableName="eventName" value="PI_SIP_DELIVERY" doc:name="Set Name"/>
        <set-variable variableName="okstatus" value="#[true]" doc:name="Set OKstatus"/>
        <foreach collection="#[flowVars.files]" doc:name="For Each">
            <choice doc:name="Choice">
                <when expression="#[!payload.file_type.equals(&quot;sidecar&quot;)]">
                    <set-variable variableName="currentItem" value="#[payload]" doc:name="Set currentItem"/>
                    <set-variable variableName="sourceFileName" value="#[flowVars.currentItem.file_name]" doc:name="Set sourceFileName"/>
                    <set-variable variableName="sourceServer" value="#[flowVars.input.server]" doc:name="Set sourceServer"/>
                    <set-variable variableName="sourcePassword" value="#[flowVars.input.password]" doc:name="Set sourcePassword"/>
                    <set-variable variableName="sourcePath" value="#[flowVars.currentItem.file_path]" doc:name="Set sourcePath"/>
                    <set-variable variableName="sourceUsername" value="#[flowVars.input.username]" doc:name="Set sourceUsername"/>
                    <set-variable variableName="extension" value="#[payload.file_name.split(&quot;\\.(?=[^\\.]+$)&quot;)[1]]" doc:name="Set extension"/>
                    <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
                    <flow-ref name="while_too_much_active_transfers" doc:name="while_too_much_active_transfers"/>
                    <flow-ref name="while_free_space" doc:name="while_free_space"/>
                    <dw:transform-message doc:name="Transform Message">
                        <dw:input-variable variableName="currentItem"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/json
---
{
	"destinationFile": flowVars.pid ++ '.' ++ flowVars.extension,
    "destinationHost": p('ftpDestination.rmm.host'),
    "destinationPassword": p('ftpDestination.rmm.password'),
    "destinationPath": p('ftpDestination.rmm.path'),
    "destinationUser": p('ftpDestination.rmm.username'),
    "sourceFile": flowVars.sourceFileName,
    "sourceHost": flowVars.sourceServer,
    "sourcePassword": flowVars.sourcePassword,
    "sourcePath": flowVars.sourcePath,
    "sourceUser": flowVars.sourceUsername
}]]></dw:set-payload>
                    </dw:transform-message>
                    <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                    <http:request config-ref="Webservice_Configuration" path="/AdvancedFxpTransfer" method="POST" responseTimeout="-1" doc:name="HTTP">
                        <http:request-builder>
                            <http:query-param paramName="move" value="true"/>
                        </http:request-builder>
                        <http:success-status-code-validator values="200"/>
                    </http:request>
                    <json:json-to-object-transformer returnClass="answer.FXPResponse" doc:name="JSON to Object"/>
                    <message-filter throwOnUnaccepted="true" doc:name="Error if response is null">
                        <and-filter>
                            <expression-filter expression="#[flowVars.comment = &quot;Error occured in Webservice. Check webservice logs.&quot;]"/>
                            <expression-filter expression="#[payload.actie != null]"/>
                        </and-filter>
                    </message-filter>
                    <set-variable variableName="httpResult" value="#[((flowVars.httpResult ==null) ? &quot;&quot; : flowVars.httpResult + &quot;\n&quot;) + payload.toString() + &quot; - Path=&quot; + flowVars.temppath]" doc:name="Set HTTP result"/>
                    <set-variable variableName="okstatus" value="#[flowVars.okstatus &amp;&amp; payload.status.equals(&quot;OK&quot;)]" doc:name="Update OKstatus"/>
                </when>
                <otherwise>
                    <logger message="Deleting sidecar" level="INFO" doc:name="Log deletion of sidecar"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="#[flowVars.mappedXml]" doc:name="Set Payload"/>
        <flow-ref name="SidecarFTPRMM" doc:name="SidecarFTPRMM"/>
        <set-variable variableName="httpResult" value="#[flowVars.httpResult + &quot;\n&quot; + &quot;XML written to: &quot; + flowVars.locationPath + flowVars.pid + &quot;.xml&quot;]" doc:name="Set HTTP result"/>
        <set-variable variableName="result" value="#[flowVars.okstatus ? 'OK' : 'NOK']" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_SIP_DELIVERY_PROVANT">
        <set-variable variableName="eventName" value="PI_SIP_DELIVERY" doc:name="Set Name"/>
        <set-variable variableName="okstatus" value="#[true]" doc:name="Set OKstatus"/>
        <choice doc:name="APA | FOMU | MOMU ?">
            <when expression="#[flowVars.CP.equals(&quot;APA&quot;)]">
                <set-variable variableName="destinationPath" value="#[&quot;/apa&quot; + &quot;/TAPE-SHARE-EVENTS&quot;]" doc:name="Set destinationPath"/>
            </when>
            <when expression="#[flowVars.CP.equals(&quot;FOMU&quot;)]">
                <set-variable variableName="destinationPath" value="#[&quot;/fomu&quot; + &quot;/TAPE-SHARE-EVENTS&quot;]" doc:name="Set destinationPath"/>
            </when>
            <when expression="#[flowVars.CP.equals(&quot;MOMU&quot;)]">
                <set-variable variableName="destinationPath" value="#[&quot;/momu&quot; + &quot;/TAPE-SHARE-EVENTS&quot;]" doc:name="Set destinationPath"/>
            </when>
            <otherwise>
				<message-filter throwOnUnaccepted="true" doc:name="Error if destinationPath is null">
                        <and-filter>
                            <expression-filter expression="#[flowVars.comment = &quot;CP was invalid. No destination folder known.&quot;]"/>
                            <expression-filter expression="#[payload.destinationPath != null]"/>
                        </and-filter>
                    </message-filter>
            </otherwise>
        </choice>
        <foreach collection="#[flowVars.files]" doc:name="For Each">
            <choice doc:name="Choice">
                <when expression="#[!payload.file_type.equals(&quot;sidecar&quot;)]">
                    <set-variable variableName="currentItem" value="#[payload]" doc:name="Set currentItem"/>
                    <set-variable variableName="sourceFileName" value="#[flowVars.currentItem.file_name]" doc:name="Set sourceFileName"/>
                    <set-variable variableName="sourceServer" value="#[flowVars.input.server]" doc:name="Set sourceServer"/>
                    <set-variable variableName="sourcePassword" value="#[flowVars.input.password]" doc:name="Set sourcePassword"/>
                    <set-variable variableName="sourcePath" value="#[flowVars.currentItem.file_path]" doc:name="Set sourcePath"/>
                    <set-variable variableName="sourceUsername" value="#[flowVars.input.username]" doc:name="Set sourceUsername"/>
                    <set-variable variableName="extension" value="#[payload.file_name.split(&quot;\\.(?=[^\\.]+$)&quot;)[1]]" doc:name="Set extension"/>
                    <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
                    <flow-ref name="while_too_much_active_transfers" doc:name="while_too_much_active_transfers"/>
                    <flow-ref name="while_free_space" doc:name="while_free_space"/>
                    <dw:transform-message doc:name="Transform Message">
                        <dw:input-variable variableName="currentItem"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%input payload application/java
%output application/json
---
{
	"destinationFile": flowVars.pid ++ '.' ++ flowVars.extension,
    "destinationHost": p('ftpDestination.provant.host'),
    "destinationPassword": p('ftpDestination.provant.password'),
    "destinationPath": flowVars.destinationPath,
    "destinationUser": p('ftpDestination.provant.username'),
    "sourceFile": flowVars.sourceFileName,
    "sourceHost": flowVars.sourceServer,
    "sourcePassword": flowVars.sourcePassword,
    "sourcePath": flowVars.sourcePath,
    "sourceUser": flowVars.sourceUsername
}]]></dw:set-payload>
                    </dw:transform-message>
                    <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                    <http:request config-ref="Webservice_Configuration" path="/AdvancedFxpTransfer" method="POST" responseTimeout="-1" doc:name="HTTP">
                        <http:request-builder>
                            <http:query-param paramName="move" value="false"/>
                        </http:request-builder>
                        <http:success-status-code-validator values="200"/>
                    </http:request>
                    <json:json-to-object-transformer returnClass="answer.FXPResponse" doc:name="JSON to Object"/>
                    <message-filter throwOnUnaccepted="true" doc:name="Error if response is null">
                        <and-filter>
                            <expression-filter expression="#[flowVars.comment = &quot;Error occured in Webservice. Check webservice logs.&quot;]"/>
                            <expression-filter expression="#[payload.actie != null]"/>
                        </and-filter>
                    </message-filter>
                    <set-variable variableName="httpResult" value="#[((flowVars.httpResult ==null) ? &quot;&quot; : flowVars.httpResult + &quot;\n&quot;) + payload.toString() + &quot; - Path=&quot; + flowVars.temppath]" doc:name="Set HTTP result"/>
                    <set-variable variableName="okstatus" value="#[flowVars.okstatus &amp;&amp; payload.status.equals(&quot;OK&quot;)]" doc:name="Update OKstatus"/>
                </when>
                <otherwise>
                    <logger message="Deleting sidecar" level="INFO" doc:name="Log deletion of sidecar"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="#[flowVars.mappedXml]" doc:name="Set Payload"/>
        <flow-ref name="SidecarFTPProvant" doc:name="SidecarFTPProvant"/>
        <set-variable variableName="httpResult" value="#[flowVars.httpResult + &quot;\n&quot; + &quot;XML written to: &quot; + flowVars.locationPath + flowVars.pid + &quot;.xml&quot;]" doc:name="Set HTTP result"/>
        <set-variable variableName="result" value="#[flowVars.okstatus ? 'OK' : 'NOK']" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_SIP_DELIVERY_MEISE">
        <set-variable variableName="eventName" value="PI_SIP_DELIVERY" doc:name="Set Name"/>
        <set-variable variableName="okstatus" value="#[true]" doc:name="Set OKstatus"/>
        <foreach collection="#[flowVars.files]" doc:name="For Each">
            <choice doc:name="Is sidecar?">
                <when expression="#[!payload.file_type.equals(&quot;sidecar&quot;)]">
                    <set-variable variableName="currentItem" value="#[payload]" doc:name="Set currentItem"/>
                    <set-variable variableName="sourceFileName" value="#[flowVars.currentItem.file_name]" doc:name="Set sourceFileName"/>
                    <set-variable variableName="sourceServer" value="#[flowVars.input.server]" doc:name="Set sourceServer"/>
                    <set-variable variableName="sourcePassword" value="#[flowVars.input.password]" doc:name="Set sourcePassword"/>
                    <set-variable variableName="sourcePath" value="#[flowVars.currentItem.file_path]" doc:name="Set sourcePath"/>
                    <set-variable variableName="sourceUsername" value="#[flowVars.input.username]" doc:name="Set sourceUsername"/>
                    <set-variable variableName="extension" value="#[payload.file_name.split(&quot;\\.(?=[^\\.]+$)&quot;)[1]]" doc:name="Set extension"/>
                    <set-payload value="#[&quot;&quot;]" doc:name="Set Payload"/>
                    <flow-ref name="while_free_space" doc:name="while_free_space"/>
                    <flow-ref name="while_too_much_active_transfers" doc:name="while_too_much_active_transfers"/>
                    <logger message="Continuing transfer after while loops" level="INFO" doc:name="Logger"/>
                    <dw:transform-message metadata:id="949d2f2e-d628-4465-b179-e235da46f674" doc:name="Transform Message">
                        <dw:input-variable variableName="currentItem"/>
                        <dw:input-variable doc:sample="double.dwl" variableName="extension"/>
                        <dw:input-variable doc:sample="string.dwl" variableName="pid"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"destinationFile": flowVars.pid ++ '.' ++ flowVars.extension,
    "destinationHost": p('ftpDestination.meise.host'),
    "destinationPassword": p('ftpDestination.meise.password'),
    "destinationPath": p('ftpDestination.meise.path'),
    "destinationUser": p('ftpDestination.meise.username'),
    "sourceFile": flowVars.sourceFileName,
    "sourceHost": flowVars.sourceServer,
    "sourcePassword": flowVars.sourcePassword,
    "sourcePath": flowVars.sourcePath,
    "sourceUser": flowVars.sourceUsername
}]]></dw:set-payload>
                    </dw:transform-message>
                    <object-to-string-transformer doc:name="Object to String"/>
                    <http:request config-ref="Webservice_Configuration" path="/AdvancedFxpTransfer" method="POST" responseTimeout="-1" doc:name="FXP (without delete)">
                        <http:request-builder>
                            <http:query-param paramName="move" value="false"/>
                        </http:request-builder>
                        <http:success-status-code-validator values="200"/>
                    </http:request>
                    <json:json-to-object-transformer returnClass="answer.FXPResponse" doc:name="JSON to Object"/>
                    <message-filter throwOnUnaccepted="true" doc:name="Error if response is null">
                        <and-filter>
                            <expression-filter expression="#[flowVars.comment = &quot;Error occured in Webservice. Check webservice logs.&quot;]"/>
                            <expression-filter expression="#[payload.actie != null]"/>
                        </and-filter>
                    </message-filter>
                    <set-variable variableName="httpResult" value="#[((flowVars.httpResult ==null) ? &quot;&quot; : flowVars.httpResult + &quot;\n&quot;) + payload.toString() + &quot; - Path=&quot; + flowVars.temppath]" doc:name="Set HTTP result"/>
                    <set-variable variableName="okstatus" value="#[flowVars.okstatus &amp;&amp; payload.status.equals(&quot;OK&quot;)]" doc:name="Update OKstatus"/>
                </when>
                <otherwise>
                    <logger message="Deleting sidecar" level="INFO" doc:name="Log deletion of sidecar"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="#[flowVars.mappedXml]" doc:name="Set Payload"/>
        <flow-ref name="SidecarFTPMeise" doc:name="SidecarFTPMeise"/>
        <set-variable variableName="httpResult" value="#[flowVars.httpResult + &quot;\n&quot; + &quot;XML written:&quot; + flowVars.pid + &quot;.xml&quot;]" doc:name="Set HTTP result"/>
        <set-variable variableName="result" value="#[flowVars.okstatus ? 'OK' : 'NOK']" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <flow name="while_free_space" processingStrategy="synchronous">
    	<http:request config-ref="Sensor_API_Configuration" path="${sensor.path}" method="GET" followRedirects="true" doc:name="HTTP sensor">
            <http:request-builder>
                <http:query-param paramName="content" value="channels"/>
                <http:query-param paramName="output" value="xml"/>
                <http:query-param paramName="columns" value="name,lastvalue_"/>
                <http:query-param paramName="id" value="${sensor.id}"/>
                <http:query-param paramName="username" value="${sensor.username}"/>
                <http:query-param paramName="password" value="${sensor.password}"/>
            </http:request-builder>
        </http:request>
        <until-successful maxRetries="999999999" synchronous="true" doc:name="Until Successful">
            <flow-ref name="while_free_space_sub" doc:name="while_free_space_sub"/>
        </until-successful>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="No sensor found. Proceeding" level="WARN" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="while_free_space_sub">
        <logger message="Checking free space" level="INFO" doc:name="Logger"/>
        <http:request config-ref="Sensor_API_Configuration" path="${sensor.path}" method="GET" followRedirects="true" doc:name="HTTP sensor">
            <http:request-builder>
                <http:query-param paramName="output" value="xml"/>
                <http:query-param paramName="id" value="${sensor.id}"/>
                <http:query-param paramName="username" value="${sensor.username}"/>
                <http:query-param paramName="password" value="${sensor.password}"/>
                <http:query-param paramName="content" value="channels"/>
                <http:query-param paramName="columns" value="name,lastvalue_"/>
            </http:request-builder>
        </http:request>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="freepercentage" value="#[java.lang.Integer.parseInt(xpath3(&quot;//channels/item[name='pctfree']/lastvalue/text()&quot;).split(' %')[0])]" doc:name="Set freepercentage"/>
        <logger message="#[&quot;Free percentage: &quot; + flowVars.freepercentage + &quot; %&quot;]" level="INFO" doc:name="Logger"/>
        <message-filter throwOnUnaccepted="true" doc:name="Message">
            <expression-filter expression="#[flowVars.freepercentage &gt; '${sensor.minfreepercentage}']"/>
        </message-filter>
    </sub-flow>
    <flow name="while_too_much_active_transfers" processingStrategy="synchronous">
    	<http:request config-ref="Webservice_Configuration" path="/ActiveTransfers" method="GET" followRedirects="true" doc:name="HTTP FXP">
        </http:request>
        <until-successful maxRetries="999999999" millisBetweenRetries="15000" synchronous="true" doc:name="Until Successful">
            <flow-ref name="while_too_much_active_transfers_sub" doc:name="while_too_much_active_transfers_sub"/>
        </until-successful>
        <logger message="Active threads: #[flowVars.activethreads] and maxactivetrheads: #['${fxp.maxactivethreads}']: result  #[flowVars.activethreads &lt; '${fxp.maxactivethreads}']" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="FXP throw error" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="while_too_much_active_transfers_sub">
        <http:request config-ref="Webservice_Configuration" path="/ActiveTransfers" method="GET" doc:name="HTTP FXP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <set-variable variableName="activethreads" value="#[java.lang.Integer.parseInt(payload==&quot;&quot;?20:payload)]" doc:name="Set activethreads (default 20)"/>
        <logger message="#[&quot;# of active FXP transfers: &quot; + flowVars.activethreads]" level="INFO" doc:name="Logger"/>
        <message-filter throwOnUnaccepted="true" doc:name="Message">
            <expression-filter expression="#[flowVars.activethreads &lt; '${fxp.maxactivethreads}']"/>
        </message-filter>
    </sub-flow>
    <flow name="SidecarFTPMeise" processingStrategy="synchronous">
        <ftp:outbound-endpoint host="${ftpDestination.meise.host}" port="21" path="${ftpDestination.meise.path}" user="${ftpDestination.meise.username}" password="${ftpDestination.vrt.password}"  connector-ref="FTP" outputPattern="#[flowVars.pid + &quot;.xml&quot;]" responseTimeout="1000000" doc:name="FTP">
            <reconnect-forever frequency="3000"/>
        </ftp:outbound-endpoint>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message=" " level="WARN" doc:name="Logger"/>
            <expression-component doc:name="Sleep"><![CDATA[Thread.sleep(2000);]]></expression-component>
            <flow-ref name="SidecarFTPMeise" doc:name="SidecarFTPMeise"/>
        </catch-exception-strategy>
    </flow>
    <flow name="SidecarFTPProvant" processingStrategy="synchronous">
        <ftp:outbound-endpoint host="${ftpDestination.provant.host}" port="21" path="#[flowVars.destinationPath]" user="${ftpDestination.provant.username}" password="${ftpDestination.provant.password}"  connector-ref="FTP" outputPattern="#[flowVars.pid + &quot;.xml&quot;]" responseTimeout="1000000" doc:name="FTP"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="FTP Timeout for sidecar! Retrying" level="INFO" doc:name="Logger"/>
            <expression-component doc:name="Sleep"><![CDATA[Thread.sleep(2000);]]></expression-component>
            <flow-ref name="SidecarFTPProvant" doc:name="SidecarFTPProvant"/>
        </catch-exception-strategy>
    </flow>
    <flow name="SidecarFTPVRT" processingStrategy="synchronous">
        <ftp:outbound-endpoint host="${ftpDestination.vrt.host}" port="21" path="${ftpDestination.vrt.path}" user="${ftpDestination.vrt.username}" password="${ftpDestination.vrt.password}"  connector-ref="FTP" outputPattern="#[flowVars.pid + &quot;.xml&quot;]" responseTimeout="1000000" doc:name="FTP"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="FTP Timeout for sidecar! Retrying" level="INFO" doc:name="Logger"/>
            <expression-component doc:name="Sleep"><![CDATA[Thread.sleep(2000);]]></expression-component>
            <flow-ref name="SidecarFTPVRT" doc:name="SidecarFTPVRT"/>
        </catch-exception-strategy>
    </flow>
    <flow name="SidecarFTPRMM" processingStrategy="synchronous">
        <ftp:outbound-endpoint host="${ftpDestination.rmm.host}" port="21" path="${ftpDestination.rmm.path}" user="${ftpDestination.rmm.username}" password="${ftpDestination.rmm.password}"  connector-ref="FTP" outputPattern="#[flowVars.pid + &quot;.xml&quot;]" responseTimeout="1000000" doc:name="FTP"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="FTP Timeout for sidecar! Retrying" level="INFO" doc:name="Logger"/>
            <expression-component doc:name="Sleep"><![CDATA[Thread.sleep(2000);]]></expression-component>
            <flow-ref name="SidecarFTPRMM" doc:name="SidecarFTPRMM"/>
        </catch-exception-strategy>
    </flow>
</mule>
