src/main/app/get_cp_id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="get_cp_id" processingStrategy="synchronous">
        <choice doc:name="Choice">
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;vrt&quot;)]">
<set-payload doc:name="Set Payload" value="OR-rf5kf25"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;avs&quot;)]">
<set-payload doc:name="Set Payload" value="OR-h41jm06"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;Medialaan&quot;)]">
<set-payload doc:name="Set Payload" value="OR-gq6r19m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;viaa&quot;)]">
<set-payload doc:name="Set Payload" value="OR-w66976m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;rtv&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sf2mb2h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tvoost&quot;)]">
<set-payload doc:name="Set Payload" value="OR-8g8fg94"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;atv&quot;)]">
<set-payload doc:name="Set Payload" value="OR-mw28d4m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tvlimburg&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4q7qp5p"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kca&quot;)]">
<set-payload doc:name="Set Payload" value="OR-vd6p425"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kadoc&quot;)]">
<set-payload doc:name="Set Payload" value="OR-3x83k1b"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;middelheim&quot;)]">
<set-payload doc:name="Set Payload" value="OR-z60c169"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;letterenhuis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-kw57h48"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;provincialebibliotheeklimburg&quot;)]">
<set-payload doc:name="Set Payload" value="OR-z31nn3s"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;amvb&quot;)]">
<set-payload doc:name="Set Payload" value="OR-wd3q12h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ugent&quot;)]">
<set-payload doc:name="Set Payload" value="OR-0z70w1b"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;packed&quot;)]">
<set-payload doc:name="Set Payload" value="OR-ns0kx1f"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;amsab&quot;)]">
<set-payload doc:name="Set Payload" value="OR-154dn75"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;mas&quot;)]">
<set-payload doc:name="Set Payload" value="OR-6q1sg5c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;vlaamsparlement&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7h1dk9t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;RMM&quot;)]">
<set-payload doc:name="Set Payload" value="OR-222r544"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;gms&quot;)]">
<set-payload doc:name="Set Payload" value="OR-qj77x56"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;evs&quot;)]">
<set-payload doc:name="Set Payload" value="OR-x921h9b"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;monitor&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4t6f286"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ams&quot;)]">
<set-payload doc:name="Set Payload" value="OR-8k74w2m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;inuits&quot;)]">
<set-payload doc:name="Set Payload" value="OR-db7vp6z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;bull&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9k45s2z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;storageteam&quot;)]">
<set-payload doc:name="Set Payload" value="OR-j09w387"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;zeticon&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5t3fz8d"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;videohouse&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sj19q5w"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tvbxl&quot;)]">
<set-payload doc:name="Set Payload" value="OR-d79593p"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;skryv&quot;)]">
<set-payload doc:name="Set Payload" value="OR-w950m90"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;advn&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4x54g1p"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;argos&quot;)]">
<set-payload doc:name="Set Payload" value="OR-rn30682"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;campo&quot;)]">
<set-payload doc:name="Set Payload" value="OR-pr7mt1r"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;compagniececilia&quot;)]">
<set-payload doc:name="Set Payload" value="OR-th8bm56"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;damagedgoods&quot;)]">
<set-payload doc:name="Set Payload" value="OR-z892d9n"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;designmuseumgent&quot;)]">
<set-payload doc:name="Set Payload" value="OR-cc0ts6n"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;huisvanalijn&quot;)]">
<set-payload doc:name="Set Payload" value="OR-1v5bc86"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;iff&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7p8tc5p"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kasteelvangaasbeek&quot;)]">
<set-payload doc:name="Set Payload" value="OR-057cr7t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kuleuven&quot;)]">
<set-payload doc:name="Set Payload" value="OR-qn5z98m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kunstenfestivaldesarts&quot;)]">
<set-payload doc:name="Set Payload" value="OR-k06x07c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;liberaalarchief&quot;)]">
<set-payload doc:name="Set Payload" value="OR-g44hq0v"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;mhka&quot;)]">
<set-payload doc:name="Set Payload" value="OR-bg2h89t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;memnon&quot;)]">
<set-payload doc:name="Set Payload" value="OR-h12v67q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;memorialmuseumpasschendaele1917&quot;)]">
<set-payload doc:name="Set Payload" value="OR-ks6j41w"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;MoMu&quot;)]">
<set-payload doc:name="Set Payload" value="OR-td9n72t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;msk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-pn8xd88"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;museabrugge&quot;)]">
<set-payload doc:name="Set Payload" value="OR-jw86m4x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;museumdrguislain&quot;)]">
<set-payload doc:name="Set Payload" value="OR-f766631"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;muzee&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9g5gc9g"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;provincialebibliotheektolhuis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-g15t97c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ringtv&quot;)]">
<set-payload doc:name="Set Payload" value="OR-1z41s1p"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;rob&quot;)]">
<set-payload doc:name="Set Payload" value="OR-x63b46z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;smak&quot;)]">
<set-payload doc:name="Set Payload" value="OR-np1wh8z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;sonim&quot;)]">
<set-payload doc:name="Set Payload" value="OR-c824d3c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;sportimonium&quot;)]">
<set-payload doc:name="Set Payload" value="OR-j09w371"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stam&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5h7bs94"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theateraanzee&quot;)]">
<set-payload doc:name="Set Payload" value="OR-319s24f"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kunstenpunt&quot;)]">
<set-payload doc:name="Set Payload" value="OR-ms3k117"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;picturae&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4x54g2w"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;vectracom&quot;)]">
<set-payload doc:name="Set Payload" value="OR-183420s"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;miat&quot;)]">
<set-payload doc:name="Set Payload" value="OR-2z12p11"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;felixarchief&quot;)]">
<set-payload doc:name="Set Payload" value="OR-jw86m54"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;c4j&quot;)]">
<set-payload doc:name="Set Payload" value="OR-3r0ps6k"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;testbeeld&quot;)]">
<set-payload doc:name="Set Payload" value="OR-h41jm1d"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tempvrt&quot;)]">
<set-payload doc:name="Set Payload" value="OR-kp7tq88"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;cegesoma&quot;)]">
<set-payload doc:name="Set Payload" value="OR-fx73x4x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;FoMu&quot;)]">
<set-payload doc:name="Set Payload" value="OR-pg1hn2h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;apa&quot;)]">
<set-payload doc:name="Set Payload" value="OR-jq0st8z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;bokrijk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5h7bt0f"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;cinenova&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4j09w9t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;dewereldvankina&quot;)]">
<set-payload doc:name="Set Payload" value="OR-6h4cq0s"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;erfgoedbibliotheekhendrikconscience&quot;)]">
<set-payload doc:name="Set Payload" value="OR-v97zq9j"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;denast&quot;)]">
<set-payload doc:name="Set Payload" value="OR-x63b475"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;felixartmuseum&quot;)]">
<set-payload doc:name="Set Payload" value="OR-2r3nw67"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;jenevermuseum&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4m9193m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;modemuseumhasselt&quot;)]">
<set-payload doc:name="Set Payload" value="OR-8c9r36r"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;museaizegem&quot;)]">
<set-payload doc:name="Set Payload" value="OR-np1wh95"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;museumdhondt-dhaenens&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sf2mb3q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;museumvandeinzeendeleiestreek&quot;)]">
<set-payload doc:name="Set Payload" value="OR-hx15q4m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;rosas&quot;)]">
<set-payload doc:name="Set Payload" value="OR-1r6n05t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefenhidocdendermonde&quot;)]">
<set-payload doc:name="Set Payload" value="OR-d50fx06"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefdiest&quot;)]">
<set-payload doc:name="Set Payload" value="OR-mp4vm8m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefgent&quot;)]">
<set-payload doc:name="Set Payload" value="OR-f47gt0h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefieper&quot;)]">
<set-payload doc:name="Set Payload" value="OR-x05xc02"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefkortrijk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9c6s063"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefsint-niklaas&quot;)]">
<set-payload doc:name="Set Payload" value="OR-c53f100"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefturnhout&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7d2q67n"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefwaregem&quot;)]">
<set-payload doc:name="Set Payload" value="OR-b56d41v"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsmuseumlokeren&quot;)]">
<set-payload doc:name="Set Payload" value="OR-hq3rx9t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kbr&quot;)]">
<set-payload doc:name="Set Payload" value="OR-r785n68"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;apogado&quot;)]">
<set-payload doc:name="Set Payload" value="OR-mg7fv31"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;nedbox&quot;)]">
<set-payload doc:name="Set Payload" value="OR-gt5ff23"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;proact&quot;)]">
<set-payload doc:name="Set Payload" value="OR-c24qm8k"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;larhra&quot;)]">
<set-payload doc:name="Set Payload" value="OR-0r9m35g"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;provinciaalarchiefwestvlaanderen&quot;)]">
<set-payload doc:name="Set Payload" value="OR-ft8dj2r"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;sbs&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7940t31"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefbrugge&quot;)]">
<set-payload doc:name="Set Payload" value="OR-cv4br1w"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;plantentuinmeise&quot;)]">
<set-payload doc:name="Set Payload" value="OR-vx0628j"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;focus&quot;)]">
<set-payload doc:name="Set Payload" value="OR-r49g843"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;wtv&quot;)]">
<set-payload doc:name="Set Payload" value="OR-mc8rf9b"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;Museum Edelsmeedkunst, Juwelen en Diamant&quot;)]">
<set-payload doc:name="Set Payload" value="OR-d21rh8x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;operaballetvanvlaanderen&quot;)]">
<set-payload doc:name="Set Payload" value="OR-cr5nb9m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;cultureelerfgoedannuntiaten&quot;)]">
<set-payload doc:name="Set Payload" value="OR-gx44t48"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefmechelen&quot;)]">
<set-payload doc:name="Set Payload" value="OR-tx35586"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;testmaster&quot;)]">
<set-payload doc:name="Set Payload" value="OR-b853h31"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;cinematek&quot;)]">
<set-payload doc:name="Set Payload" value="OR-w08wg0q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;limecraft&quot;)]">
<set-payload doc:name="Set Payload" value="OR-m61bp4s"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ntgent&quot;)]">
<set-payload doc:name="Set Payload" value="OR-0c4sj4x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;moovly&quot;)]">
<set-payload doc:name="Set Payload" value="OR-br8mf98"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;bloet&quot;)]">
<set-payload doc:name="Set Payload" value="OR-tq5rd13"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ciedekoe&quot;)]">
<set-payload doc:name="Set Payload" value="OR-pz51k8v"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;compagnietartaren&quot;)]">
<set-payload doc:name="Set Payload" value="OR-k93157z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;deroovers&quot;)]">
<set-payload doc:name="Set Payload" value="OR-fj29c3h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;dewerf&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9s1kj8r"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;desingel&quot;)]">
<set-payload doc:name="Set Payload" value="OR-610vr4b"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;eastman&quot;)]">
<set-payload doc:name="Set Payload" value="OR-2804z00"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;fabuleus&quot;)]">
<set-payload doc:name="Set Payload" value="OR-xg9f96d"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;hetkip&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sq8qh2z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;hetgevolg&quot;)]">
<set-payload doc:name="Set Payload" value="OR-p26q312"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kaaitheater&quot;)]">
<set-payload doc:name="Set Payload" value="OR-j96087m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kopergietery&quot;)]">
<set-payload doc:name="Set Payload" value="OR-dj58g2z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kwaadbloed&quot;)]">
<set-payload doc:name="Set Payload" value="OR-513tv40"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;laika&quot;)]">
<set-payload doc:name="Set Payload" value="OR-1834210"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;lesballetscdelab&quot;)]">
<set-payload doc:name="Set Payload" value="OR-wh2dd63"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;lod&quot;)]">
<set-payload doc:name="Set Payload" value="OR-rv0d055"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;luxemburg&quot;)]">
<set-payload doc:name="Set Payload" value="OR-n29p61q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;marthatentatief&quot;)]">
<set-payload doc:name="Set Payload" value="OR-h98zc6z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;miramiro&quot;)]">
<set-payload doc:name="Set Payload" value="OR-cj87k2m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;muziektheatertransparant&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7s7hr82"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;needcompany&quot;)]">
<set-payload doc:name="Set Payload" value="OR-416sz5v"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;sering&quot;)]">
<set-payload doc:name="Set Payload" value="OR-vm42w94"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stan&quot;)]">
<set-payload doc:name="Set Payload" value="OR-qv3c35t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stuk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-m32n906"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tarsenaal&quot;)]">
<set-payload doc:name="Set Payload" value="OR-gb1xg6n"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theaterdespiegel&quot;)]">
<set-payload doc:name="Set Payload" value="OR-bk16p29"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theatermalpertuis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-6t0gv9z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theaterstap&quot;)]">
<set-payload doc:name="Set Payload" value="OR-348gf81"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theaterteater&quot;)]">
<set-payload doc:name="Set Payload" value="OR-zc7rt37"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;theaterzuidpool&quot;)]">
<set-payload doc:name="Set Payload" value="OR-tm7209x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;toneelhuis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-pv6b648"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tristero&quot;)]">
<set-payload doc:name="Set Payload" value="OR-k35md0v"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;ultimavez&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9k45s35"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;victoriadeluxe&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5x25c27"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;walpurgis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-251fj8q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;wpzimmer&quot;)]">
<set-payload doc:name="Set Payload" value="OR-xd0qx2q"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;hetpaleis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sn0138d"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;antigone&quot;)]">
<set-payload doc:name="Set Payload" value="OR-j38kh0h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;atwodogscompany&quot;)]">
<set-payload doc:name="Set Payload" value="OR-db7vp75"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchieftielt&quot;)]">
<set-payload doc:name="Set Payload" value="OR-8p5v867"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsarchiefroeselare&quot;)]">
<set-payload doc:name="Set Payload" value="OR-4x54g33"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;demaan&quot;)]">
<set-payload doc:name="Set Payload" value="OR-154dn8c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementmobiliteitenopenbarewerken&quot;)]">
<set-payload doc:name="Set Payload" value="OR-rn30698"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;vlaamselandmaatschappij&quot;)]">
<set-payload doc:name="Set Payload" value="OR-mw28d5t"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementkanselarijenbestuur&quot;)]">
<set-payload doc:name="Set Payload" value="OR-h41jm2m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementlandbouwenvisserij&quot;)]">
<set-payload doc:name="Set Payload" value="OR-cf9j60f"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementonderwijsenvorming&quot;)]">
<set-payload doc:name="Set Payload" value="OR-7p8tc73"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementcultuurjeugdenmedia&quot;)]">
<set-payload doc:name="Set Payload" value="OR-3x83k2j"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;departementleefmilieunatuurenenergie&quot;)]">
<set-payload doc:name="Set Payload" value="OR-057cr81"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;sdnsquare&quot;)]">
<set-payload doc:name="Set Payload" value="OR-6q1sg6k"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;grep&quot;)]">
<set-payload doc:name="Set Payload" value="OR-z60c17h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;mediaconch&quot;)]">
<set-payload doc:name="Set Payload" value="OR-k06x08k"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;tothepoint&quot;)]">
<set-payload doc:name="Set Payload" value="OR-f76665f"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stedelijkmuseumhoogstraten&quot;)]">
<set-payload doc:name="Set Payload" value="OR-9g5gd0s"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;villanella&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5q4rk67"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;navigo&quot;)]">
<set-payload doc:name="Set Payload" value="OR-x63b48c"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;troubleynjanfabre&quot;)]">
<set-payload doc:name="Set Payload" value="OR-sf2mb4x"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kunst-werk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-ns0kx2n"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;stadsbibliotheekkortrijk&quot;)]">
<set-payload doc:name="Set Payload" value="OR-kk94b7d"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;algemeenrijksarchief&quot;)]">
<set-payload doc:name="Set Payload" value="OR-fx73x54"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;koninklijkebibliotheek&quot;)]">
<set-payload doc:name="Set Payload" value="OR-b56d422"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;koninklijkmuseumvanhetlegerendekrijgsgeschiedenis&quot;)]">
<set-payload doc:name="Set Payload" value="OR-6d5p979"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;denwetijd&quot;)]">
<set-payload doc:name="Set Payload" value="OR-5d8nd7z"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;kaap&quot;)]">
<set-payload doc:name="Set Payload" value="OR-1n7xm3h"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;medialaan&quot;)]">
<set-payload doc:name="Set Payload" value="OR-gq6r19m"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;viaaarchief&quot;)]">
<set-payload doc:name="Set Payload" value="OR-bz61758"/>
</when>
<when expression="#[flowVars.cp.equalsIgnoreCase(&quot;Focus-WTV&quot;)]">
<set-payload doc:name="Set Payload" value="OR-kh0dz3q"/>
</when>
            <otherwise>
                <expression-component doc:name="Expression"><![CDATA[throw new java.lang.RuntimeException("No OR-ID was found for this CP");]]></expression-component>
            </otherwise>
        </choice>
    </flow>
</mule>
