src/main/app/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <context:property-placeholder location="${mule.env}.properties"></context:property-placeholder>    
    <amqp:connector name="RabbitMQConnector" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.host}" password="${rabbit.password}" port="${rabbit.port}" username="${rabbit.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <service-overrides sessionHandler="org.mule.session.NullSessionHandler"/>
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorPoller" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.host}" password="${rabbit.password}" port="${rabbit.port}" username="${rabbit.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <reconnect-forever />
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorError" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.host}" password="${rabbit.password}" port="${rabbit.port}" username="${rabbit.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <reconnect-forever />
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorMove" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.move.host}" password="${rabbit.move.password}" port="${rabbit.move.port}" username="${rabbit.move.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <reconnect-forever />
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorFXP" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.fxp.host}" password="${rabbit.fxp.password}" port="${rabbit.fxp.port}" username="${rabbit.fxp.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <reconnect-forever />
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorFXPPriority" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.fxp.host}" password="${rabbit.fxp.password}" port="${rabbit.fxp.port}" username="${rabbit.fxp.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL" priority="9"> 
        <reconnect-forever />
    </amqp:connector>
    <amqp:connector name="RabbitMQConnectorDelete" validateConnections="true" doc:name="AMQP-0-9 Connector" host="${rabbit.fxp.host}" password="${rabbit.fxp.password}" port="${rabbit.fxp.port}" username="${rabbit.fxp.username}" prefetchCount="1" numberOfChannels="1" ackMode="MANUAL"> 
        <reconnect-forever />
    </amqp:connector>
    <http:request-config name="PID_webservice" host="${pid.host}" port="${pid.port}" basePath="${pid.basepath}" doc:name="HTTP Request Configuration" responseTimeout="999999999" connectionIdleTimeout="999999999" > 
        <tcp:client-socket-properties connectionTimeout="999999999" timeout="999999999"></tcp:client-socket-properties>  
    </http:request-config>
    <db:generic-config name="borndigital" url="jdbc:postgresql://${db.host}:${db.port}/${db.database}?password=${db.password}&amp;user=${db.username}" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"></db:generic-config>
    <db:generic-config name="mediahaven" url="jdbc:postgresql://${db.zeticon.host}:${db.zeticon.port}/${db.zeticon.database}?password=${db.zeticon.password}&amp;user=${db.zeticon.username}" driverClassName="org.postgresql.Driver" doc:name="Mediahaven config"></db:generic-config>
    <ftp:connector streaming="true" name="FTP" pollingFrequency="1000" validateConnections="true" doc:name="FTP">
        <reconnect-forever />
    </ftp:connector>
    <http:request-config name="Sensor_API_Configuration" host="${sensor.host}" port="${sensor.port}" basePath="${sensor.basepath}" doc:name="HTTP Request Configuration" connectionIdleTimeout="9999999" responseTimeout="9999999" protocol="HTTPS"></http:request-config>
    <http:request-config name="Aspect_ratio_API" host="${aspect_ratio_api.host}" port="${aspect_ratio_api.port}" basePath="/" doc:name="HTTP Request Configuration"/>
    <spring:beans> 
        <spring:bean id="RequestTransformer" name="requestTransformer" class="utils.RequestTransformer"></spring:bean>  
        <spring:bean id="SrtService" name="srtService" class="utils.SrtService"></spring:bean>  
        <spring:bean id="moveRequestTransformer" name="MoveRequestTransformer" class="utils.MoveRequestTransformer"></spring:bean>  
        <spring:bean id="objectStore" class="org.mule.util.store.SimpleMemoryObjectStore"></spring:bean>  
    </spring:beans>
    <mulexml:schema-validation-filter name="xsdValidator" schemaLocations="mediahaven_output_schema.xsd" doc:name="Check output format" returnResult="true"></mulexml:schema-validation-filter>
    <http:listener-config name="InputCSVListener" host="0.0.0.0" port="8063" doc:name="HTTP Listener Configuration"></http:listener-config>
    <http:listener-config name="MonitoringListener" host="0.0.0.0" port="8062" doc:name="HTTP Listener Configuration"></http:listener-config>
	<http:request-config name="Texasunidatevalidator"
		host="${edtfTexas.host}" port="80" responseTimeout="2000"
		doc:name="HTTP Request Configuration" basePath="/edtf">
	</http:request-config>
    <http:request-config name="Localdatevalidator" host="${edtfLocal.host}" port="80" doc:name="HTTP Request Configuration"/>
    <sub-flow name="sendErrorMessage">
        <set-variable variableName="comment" value="#[(exception == null ? flowVars.comment : (exception.cause == null ? (flowVars.comment == null ? &quot;&quot; : flowVars.comment) + &quot;\n&quot; + exception.message : (exception.cause.message == null ? flowVars.comment : (exception.cause.message.equals(&quot;&quot;) ? flowVars.comment : exception.cause.message + org.mule.util.ExceptionUtils.getFullStackTrace(exception)))))]" doc:name="Set Exception message"/>
        <set-variable variableName="result" value="#['NOK']" doc:name="Set result NOK"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
        <set-payload value="#[flowVars.message]" doc:name="Set Payload with message"/>
        <amqp:outbound-endpoint queueName="borndigital.errors" responseTimeout="10000" exchange-pattern="request-response" connector-ref="RabbitMQConnectorError" doc:name="Send to borndigital.errors">
        </amqp:outbound-endpoint>
    </sub-flow>
    <sub-flow name="PI_LOG"> 
        <db:insert config-ref="borndigital" doc:name="Log to database">
            <db:parameterized-query><![CDATA[INSERT INTO ${db.eventstable}(pid, "local_id", filename, md5, organisation, "organisation_id", "type", outcome, "date", "comment")
VALUES ((#[flowVars.pid == null ? "UNKNOWN" : flowVars.pid]),
(#[flowVars.'local_id' == null ? "UNKNOWN" : flowVars.'local_id']),
(#[flowVars.filenameWithoutExtension == null || flowVars.extension == null ? "UNKNOWN" : flowVars.filenameWithoutExtension + "." + flowVars.extension]),
(#[flowVars.md5metadata == null ? "UNKNOWN" : flowVars.md5metadata]),
#[flowVars.cp],
#[flowVars.'cp_id'],
(#[flowVars.eventName == null ? "UNKNOWN" : flowVars.eventName]),
CAST(#[flowVars.result] as outcome),
#[server.dateTime.format("yyyy-MM-dd HH:mm:ss")],
#[flowVars.comment]);]]></db:parameterized-query>
  
        </db:insert>  
    </sub-flow>
	<flow name="date_validator">
        <set-variable variableName="setDate" value="#[payload]" doc:name="setDate"/>
        <http:request config-ref="Localdatevalidator" path="/" method="GET" doc:name="Send Request to Validate Date">
            <http:request-builder>
                <http:query-param paramName="date" value="#[flowVars.setDate]"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"></json:json-to-object-transformer>
        <logger message="#[flowVars.setDate] is valid? : #[payload.validEDTF]. Value Fallback : #[flowVars.fallback]" level="INFO" doc:name="Logger: is_valid_date"></logger>
        <set-payload value="#[payload.validEDTF]" doc:name="Set Payload"/>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload
				value="The request cannot be processed, the error is #[exception.getSummaryMessage()]"
				doc:name="Set Exception Summary" />
			<logger
				message="Can't reach EDTF Validator. Value Fallback : #[flowVars.fallback]. Error: The request cannot be processed, the error is #[exception.getSummaryMessage()]"
				level="INFO" doc:name="Logger: exception_summary" />
			<flow-ref name="date_validator_fallback" doc:name="date_validator_fallback" />
		</catch-exception-strategy>
	</flow>
    <flow name="date_validator_fallback">
        <logger message="This is the fallback service" level="INFO" doc:name="Logger: fallback_message"></logger>
        <http:request config-ref="Texasunidatevalidator" path="/isValid.json" method="GET" doc:name="Send Request to Validate Date">
            <http:request-builder>
                <http:query-param paramName="date" value="#[flowVars.setDate]"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"></json:json-to-object-transformer>
        <logger message="#[flowVars.setDate] is valid? : #[payload.validEDTF]." level="INFO" doc:name="Logger: is_valid_date"></logger>
        <set-payload value="#[payload.validEDTF]" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="The request cannot be processed, the error is #[exception.getSummaryMessage()]" doc:name="Set Exception Summary"/>
            <flow-ref name="GroovyAmqpExceptionFlow" doc:name="GroovyAmqpExceptionFlow"/>
            <logger level="ERROR" doc:name="Error Log" message="#[exception.getSummaryMessage()]"/>
        </catch-exception-strategy>
    </flow>
    <flow name="GroovyAmqpExceptionFlow">
        <async doc:name="Async">
            <scripting:component doc:name="Groovy">
                <scripting:script engine="Groovy">

                    <![CDATA[def alertMessage = [:];

alertMessage.title = "Alert Message"
alertMessage.description = "Both validators failed"

alertMessage.cp_id = flowVars.cp_id;
alertMesssage.date = flowVars.setDate;
alertMessage.exception_summary = exception.getSummaryMessage();

return new groovy.json.JsonBuilder(alertMessage).toPrettyString();]]>
                    <property key="cp_id" value="#[flowVars.cp_id]"/>
                    <property key="exception_summary" value="#[exception.getSummaryMessage()]"/>
                    <property key="date" value="#[flowVars.setDate]"/>
                </scripting:script>
            </scripting:component>
            <amqp:outbound-endpoint queueDurable="true" responseTimeout="10000" exchange-pattern="request-response" doc:name="Collect Fallback Error Data" connector-ref="RabbitMQConnectorError" queueName="viaa_alerts"/>
        </async>
    </flow>
    
    
    <!-- 
    <catch-exception-strategy name="globalCatch_Exception_Strategy"> 
        <set-variable variableName="comment" value="#[(exception == null ? flowVars.comment : (exception.cause == null ? (flowVars.comment == null ? &quot;&quot; : flowVars.comment) + &quot;\n&quot; + exception.message : (exception.cause.message == null ? flowVars.comment : (exception.cause.message.equals(&quot;&quot;) ? flowVars.comment : exception.cause.message + org.mule.util.ExceptionUtils.getFullStackTrace(exception)))))]" doc:name="Set Exception message"></set-variable>  
        <set-variable variableName="result" value="#['ERROR']" doc:name="Set result ERROR"></set-variable>  
        <flow-ref name="PI_LOG" doc:name="PI_LOG"></flow-ref>  
    </catch-exception-strategy>
     -->
</mule>
