src/main/app/mappings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <and-filter name="And" doc:name="And">
        <expression-filter expression="#[flowVars.comment = &quot;Metadata format was incorrect.&quot;]" nullReturnsTrue="true"/>
        <filter ref="Provant_Schema_Validation"/>
    </and-filter>
    <http:request-config name="vlaamsparlement_api" host="ws.vlpar.be" port="80" basePath="/" doc:name="HTTP Request Configuration" responseTimeout="20000">
        <http:proxy host="proxy.do.viaa.be" port="80"/>
    </http:request-config>
    <sub-flow name="PI_METADATA_MAPPING_MHEM">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload with incomingXml"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="CreationDate" value="#[xpath3(&quot;//*[local-name() = 'dcterms_issued']/text()&quot;).replaceAll('-', ':').substring(0,10) + &quot; 00:00:00&quot;]" doc:name="Set CreationDate from dcterms_issued (from EDTF to EXIF)"/>
        <dw:transform-message metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4" doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/empty.xml"/>
            <dw:input-variable variableName="comment"/>
            <dw:set-payload><![CDATA[%dw 1.0
%input payload application/xml
%output application/xml skipNullOn="everywhere"
%function split(name) name splitBy ","
---
{
	MediaHAVEN_external_metadata: {
		(title: payload.VIAA.dc_title when payload.VIAA.dc_title?
			otherwise payload.VIAA.dc_titles[0] when (sizeOf payload.VIAA.dc_titles) > 0
			otherwise ""),
		description: payload.VIAA.dc_description when payload.VIAA.dc_description? otherwise "",
		MDProperties: {
			(payload.*VIAA map (
				$
			)),
			(sp_name: 'borndigital') when payload.VIAA.sp_name == null,
			(CP: flowVars.cp) when payload.VIAA.CP == null,
			CP_id: flowVars.cp_id,
			PID: flowVars.pid,
			(dc_relations: { (flowVars.relations map (bevat: $)) }) when flowVars.pid_collateral?,
			CreationDate: flowVars.CreationDate,
			(dc_source: flowVars.filenameEssence) when payload.VIAA.dc_source == null
			// Default VIAA license?
			//dc_rights_licenses @(type: "list"): {
			//	(licentie: flowVars.license) when flowVars.license?
			//}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set mappedXml"/>
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully: #[payload]" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <flow name="get_sidecar">
        <logger message="Start get_sidecar: #[payload]" level="INFO" doc:name="Start get_sidecar"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="After: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
        <sub-flow name="PI_METADATA_MAPPING_VRT">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="ef2d489e-12ad-4b91-8add-659011b32d9a">
            <dw:input-variable doc:sample="string_1.dwl" variableName="origin"/>
            <dw:input-variable doc:sample="string_2.dwl" variableName="mediaId"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	MediaHAVEN_external_metadata: 
	{
		title: flowVars.pid ++ "-" ++ flowVars.local_id,
		MDProperties: {
			CP: p('cp'),
			CP_id: flowVars.cp_id,
			sp_name: 'dailies' when flowVars.origin != 'tape' otherwise 'intake_existing',
			PID: flowVars.pid,
			dc_identifier_localid: flowVars.local_id,
			(md5: flowVars.md5metadata) when flowVars.md5metadata?
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set mappedXml"/>
        <!--
        <message-filter throwOnUnaccepted="true" doc:name="Check output format">
            <and-filter>
                <expression-filter expression="#[flowVars.comment = &quot;Output format is incorrect.&quot;]"/>
            </and-filter>
        </message-filter>
        -->
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully: #[payload]" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_PROVANT">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="dc_publisher" value="#[xpath3(&quot;//*[local-name() = 'publisher']/text()&quot;)]" doc:name="Set dc_publisher"/>
        <choice doc:name="dc_publisher != null?">
            <when expression="#[flowVars.dc_publisher == null]">
                <validation:is-true config-ref="Validation_Configuration" expression="#[false]" doc:name="Throw exception because publisher is null"/>
            </when>
            <otherwise>
                <set-variable variableName="dc_publisher_lower" value="#[flowVars.dc_publisher.toLowerCase()]" doc:name="Set dc_publisher in lowercase"/>
                <choice doc:name="Set cp">
                    <when expression="flowVars.dc_publisher_lower.equals(&quot;fomu&quot;)">
                        <logger message="FoMu" level="INFO" doc:name="CP is FoMu"/>
                        <set-variable variableName="cp" value="#[&quot;FoMu&quot;]" doc:name="Set cp as FoMu"/>
                    </when>
                    <when expression="flowVars.dc_publisher_lower.equals(&quot;momu&quot;)">
                        <logger message="CP is MoMu" level="INFO" doc:name="CP is MoMu"/>
                        <set-variable variableName="cp" value="#[&quot;MoMu&quot;]" doc:name="Set cp as MoMu"/>
                    </when>
                    <when expression="flowVars.dc_publisher_lower.equals(&quot;museum voor edelsmeedkunst juwelen en diamant&quot;)">
                        <logger message="CP is Museum Edelsmeedkunst, Juwelen en Diamant" level="INFO" doc:name="CP is Museum Edelsmeedkunst, Juwelen en Diamant"/>
                        <set-variable variableName="cp" value="#[&quot;Museum Edelsmeedkunst, Juwelen en Diamant&quot;]" doc:name="Set cp as Museum Edelsmeedkunst, Juwelen en Diamant"/>
                    </when>
                    <otherwise>
                        <logger message="Unknown dc_publisher" level="WARN" doc:name="Unknown dc_publisher"/>
                        <set-variable variableName="cp" value="#[flowVars.cp]" doc:name="Set cp as provant"/>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
        <set-variable variableName="credits" value="#[xpath3(&quot;//*[local-name() = 'credit']/text()&quot;) == &quot;&quot; ? xpath3(&quot;//*[local-name() = 'Credit']/text()&quot;) : xpath3(&quot;//*[local-name() = 'credit']/text()&quot;)]" doc:name="Set credits"/>
        <set-variable variableName="relation" value="#[xpath3(&quot;//*[local-name() = 'relation']/text()&quot;)]" doc:name="Set relation (with a collection)"/>
        <set-variable variableName="relationDescription" value="#[xpath3(&quot;//*[local-name() = 'relation']/text()&quot;) != &quot;&quot; ? &quot;\nCollectie: &quot; + xpath3(&quot;//*[local-name() = 'relation']/text()&quot;) : &quot;&quot;]" doc:name="Set relationDescription"/>
        <set-variable variableName="description" value="#[xpath3(&quot;//*[local-name() = 'description']/text()&quot;) + flowVars.relationDescription]" doc:name="Set description"/>
        <set-variable variableName="title" value="#[xpath3(&quot;//*[local-name() = 'title']/text()&quot;) == &quot;&quot; ? xpath3(&quot;//*[local-name() = 'AOSourceInvNo']/text()&quot;) : xpath3(&quot;//*[local-name() = 'title']/text()&quot;) ]" doc:name="Set title"/>
        <set-variable variableName="termsAndConditionsText" value="#[xpath3(&quot;//*[local-name() = 'TermsAndConditionsText']/text()&quot;)]" doc:name="Set termsAndConditionsText"/>
        <choice doc:name="Which license?">
            <when expression="#[flowVars.termsAndConditionsText == &quot;Public domain&quot;]">
                <set-variable variableName="license" value="#[&quot;Publiek domein&quot;]" doc:name="Set license (Publiek domein)"/>
            </when>
            <when expression="#[flowVars.termsAndConditionsText == &quot;http://creativecommons.org/licenses/by/3.0/&quot;]">
                <set-variable variableName="license" value="#[&quot;CC BY&quot;]" doc:name="Set license (CC-BY)"/>
            </when>
            <when expression="#[flowVars.termsAndConditionsText == &quot;allRightsReserved&quot;]">
                <set-variable variableName="license" value="#[&quot;VIAA licentie&quot;]" doc:name="Set license (VIAA licentie)"/>
            </when>
            <otherwise>
                <expression-component doc:name="do nothing"><![CDATA[// do nothing]]></expression-component>
            </otherwise>
        </choice>
        <set-variable variableName="dctermsCreated" value="#[xpath3(&quot;//*[name()='dcterms:created']/text()&quot;)]" doc:name="Set dctermsCreated"/>
        <set-variable variableName="dateCreated" value="#[xpath3(&quot;//*[local-name() = 'date']/text()&quot;)]" doc:name="Set dateCreated"/>
        <set-variable variableName="CreationDate" value="#[flowVars.dctermsCreated != &quot;&quot; ? (flowVars.dctermsCreated + &quot; 00:00:00&quot;) : &quot;&quot;]" doc:name="Set CreationDate (MH)"/>
        <set-variable variableName="otherImageInfo" value="#[xpath3(&quot;//*[local-name() = 'OtherImageInfo']/text()&quot;)]" doc:name="Set otherImageInfo"/>
        <set-variable variableName="licenseHolder" value="#[xpath3(&quot;//*[local-name() = 'LicensorName']/text()&quot;)]" doc:name="Set licenseHolder"/>
        <choice doc:name="Set cp_id">
            <when expression="#[flowVars.cp == 'FoMu']">
                <set-variable variableName="cp_id" value="#['OR-pg1hn2h']" doc:name="Set cp_id for fomu"/>
            </when>
            <when expression="#[flowVars.cp == 'MoMu']">
                <set-variable variableName="cp_id" value="#['OR-td9n72t']" doc:name="Set cp_id for momu"/>
            </when>
            <when expression="#[flowVars.cp == 'Museum Edelsmeedkunst, Juwelen en Diamant']">
                <set-variable variableName="cp_id" value="#['OR-d21rh8x']" doc:name="Set cp_id for museumedelsmeedkunstjuwelenendiamant"/>
            </when>
            <otherwise>
                <validation:is-true config-ref="Validation_Configuration" expression="#[false]" doc:name="Throw exception because not valid cp"/>
            </otherwise>
        </choice>
        <dw:transform-message metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4" doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/empty.xml" />
            <dw:input-variable  variableName="comment"/>
            <dw:input-variable doc:sample="sample_data/string_3.dwl" mimeType="application/java" variableName="dateCreated"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml skipNullOn="everywhere"
%namespace ns0 http://www.jcp.org/jcr/1.0
%namespace ns6 http://purl.org/dc/elements/1.1/
%namespace ns11 http://www.day.com/jcr/cq/1.0
%namespace ns12 http://dublincore.org/documents/dcmi-terms/
%function split(name) name splitBy ","
%namespace ns4 http://iptc.org/std/Iptc4xmpExt/2008-02-29/
%namespace ns7 http://www.loc.gov/standards/premis/v2/premis.xsd
%namespace ns2 http://ns.useplus.org/ldf/xmp/1.0/
%namespace ns8 http://iptc.org/std/Iptc4xmpCore/1.0/xmlns/
%namespace ns9 http://ns.adobe.com/photoshop/1.0/
---
{
	MediaHAVEN_external_metadata: {
			dc_coverages @(type: "list"): {
				(split(payload.xml.ns0#content.metadata.ns8#Location)  map {
						ruimte: $
					}
				),
				(tijd: flowVars.dateCreated) when flowVars.dateCreated != ""
			} when payload.xml.ns0#content.metadata.ns8#Location?
			otherwise 
			{
				(tijd: flowVars.dateCreated) when flowVars.dateCreated != ""
			}
			}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="comment" value="#[&quot;XML failed to validate against the XSD&quot;]" doc:name="Set comment"/>
       <!--  <message-filter throwOnUnaccepted="true" doc:name="Message">
            <filter ref="Provant_Schema_Validation"/>
        </message-filter> -->
        <!-- 
        <message-filter throwOnUnaccepted="true" doc:name="Message">
            <and-filter>
                <expression-filter expression="#[true]" nullReturnsTrue="true"/>
                <filter ref="Provant_Schema_Validation"/>
            </and-filter>
        </message-filter>
        -->
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set MappedXml"/>
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_MEISE">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <dw:transform-message metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4" doc:name="Transform Message">
            <dw:input-payload doc:sample="content.xml"/>
            <dw:input-variable variableName="comment"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	MediaHAVEN_external_metadata: payload.root.MediaHAVEN_external_metadata
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="CP" value="#[xpath3(&quot;//CP/text()&quot;)]" doc:name="Set CP"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully: #[payload]" doc:name="Set comment"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set MappedXml"/>
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully: #[payload]" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_VLAAMS_PARLEMENT">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload with sidecar"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="filenameEssence" value="#[flowVars.filenameEssence != null ? flowVars.filenameEssence : xpath3(&quot;//dc_source/text()&quot;)]" doc:name="Set filenameEssence"/>
        <set-variable variableName="total" value="#[flowVars.filenameEssence.replaceAll('^.*_[1-9]+v([1-9]+)\\..*', '$1') != flowVars.filenameEssence ? flowVars.filenameEssence.replaceAll('^.*_[1-9]+v([1-9]+)\\..*', '$1') : &quot;1&quot;]" doc:name="Set total"/>
        <until-successful maxRetries="2" millisBetweenRetries="5000" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="vlaamsparlement_api" path="#['/e/opendata/verg/' + flowVars.local_id]" method="GET" doc:name="Get metadata from open data portal">
                <http:request-builder>
                    <http:header headerName="Accept" value="application/json"/>
                </http:request-builder>
            </http:request>
        </until-successful>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer  doc:name="JSON to Object" returnClass="java.util.HashMap"/>
        <set-variable variableName="vergadering_response" value="#[payload]" doc:name="Set vergadering_response"/>
        <set-variable variableName="type" value="#[payload.get(&quot;vergadering&quot;).get(&quot;type&quot;).toString()]" doc:name="Set type (Plenair | Commissie)"/>
        <choice doc:name="Plenaire or commissie?">
            <when expression="#[flowVars.type == &quot;Plenair&quot;]">
                <set-variable variableName="titelType" value="#[&quot;Plenaire vergadering&quot;]" doc:name="Set titelType plenaire"/>
            </when>
            <otherwise>
                <set-variable variableName="titelType" value="#[payload.vergadering.commissie[0].titel]" doc:name="Set titelType"/>
            </otherwise>
        </choice>
        <set-variable variableName="datumBegin" value="#[payload.get(&quot;vergadering&quot;).get(&quot;datumbegin&quot;).toString().substring(0,19)]" doc:name="Set datumBegin"/>
        <set-variable variableName="dayOfWeek" value="#[new org.mule.el.datetime.DateTime(flowVars.datumBegin).getDayOfWeek()]" doc:name="Set dayOfWeek"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.dayOfWeek == &quot;1&quot;]">
                <set-variable variableName="dag" value="#[&quot;zondag&quot;]" doc:name="Set dag zondag"/>
            </when>
            <when expression="#[flowVars.dayOfWeek == &quot;7&quot;]">
                <set-variable variableName="dag" value="#[&quot;zaterdag&quot;]" doc:name="Set dag zaterdag"/>
            </when>
            <when expression="#[flowVars.dayOfWeek == &quot;6&quot;]">
                <set-variable variableName="dag" value="#[&quot;vrijdag&quot;]" doc:name="Set dag vrijdag"/>
            </when>
            <when expression="#[flowVars.dayOfWeek == &quot;5&quot;]">
                <set-variable variableName="dag" value="#[&quot;donderdag&quot;]" doc:name="Set dag donderdag"/>
            </when>
            <when expression="#[flowVars.dayOfWeek == &quot;4&quot;]">
                <set-variable variableName="dag" value="#[&quot;woensdag&quot;]" doc:name="Set dag woensdag"/>
            </when>
            <when expression="#[flowVars.dayOfWeek == &quot;3&quot;]">
                <set-variable variableName="dag" value="#[&quot;dinsdag&quot;]" doc:name="Set dag dinsdag"/>
            </when>
            <otherwise>
                <set-variable variableName="dag" value="#[&quot;maandag&quot;]" doc:name="Set dag maandag"/>
            </otherwise>
        </choice>
        <set-variable variableName="month" value="#[new org.mule.el.datetime.DateTime(flowVars.datumBegin).getMonth()]" doc:name="Set month"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.month == 5]">
                <set-variable variableName="maand" value="#[&quot;mei&quot;]" doc:name="Set maand mei"/>
            </when>
            <when expression="#[flowVars.month == 4]">
                <set-variable variableName="maand" value="#[&quot;april&quot;]" doc:name="Set maand april"/>
            </when>
            <when expression="#[flowVars.month == 3]">
                <set-variable variableName="maand" value="#[&quot;maart&quot;]" doc:name="Set maand maart"/>
            </when>
            <when expression="#[flowVars.month == 2]">
                <set-variable variableName="maand" value="#[&quot;februari&quot;]" doc:name="Set maand februari"/>
            </when>
            <when expression="#[flowVars.month == 10]">
                <set-variable doc:name="Set maand oktober" value="#[&quot;oktober&quot;]" variableName="maand"/>
            </when>
            <when expression="#[flowVars.month == 9]">
                <set-variable doc:name="Set maand september" value="#[&quot;september&quot;]" variableName="maand"/>
            </when>
            <when expression="#[flowVars.month == 8]">
                <set-variable doc:name="Set maand augustus" value="#[&quot;augustus&quot;]" variableName="maand"/>
            </when>
            <when expression="#[flowVars.month == 7]">
                <set-variable doc:name="Set maand juli" value="#[&quot;juli&quot;]" variableName="maand"/>
            </when>
            <when expression="#[flowVars.month == 6]">
                <set-variable doc:name="Set maand juni" value="#[&quot;juni&quot;]" variableName="maand"/>
            </when>
            <when expression="#[flowVars.month == 11]">
                <set-variable variableName="maand" value="#[&quot;november&quot;]" doc:name="Set maand november"/>
            </when>
            <when expression="#[flowVars.month == 12]">
                <set-variable variableName="maand" value="#[&quot;december&quot;]" doc:name="Set maand december"/>
            </when>
            <otherwise>
                <set-variable variableName="maand" value="#[&quot;januari&quot;]" doc:name="Set maand januari"/>
            </otherwise>
        </choice>
        <set-variable variableName="datumTitel" value="#[flowVars.dag + &quot; &quot; + flowVars.datumBegin.substring(8,10).replaceFirst(&quot;^0+(?!$)&quot;, &quot;&quot;) + &quot; &quot; + flowVars.maand + &quot; &quot; + flowVars.datumBegin.substring(0,4) + &quot;, &quot; + flowVars.datumBegin.substring(11,13) + &quot;.&quot; + flowVars.datumBegin.substring(14,16) + &quot;u&quot;]" doc:name="Set datumTitel (bv. Plenaire vergadering woensdag 16 november 2011, 14.00u)"/>
        <set-variable variableName="CreationDate" value="#[payload.get(&quot;vergadering&quot;).get(&quot;datumbegin&quot;).toString().substring(0,10).replaceAll('-', ':') + &quot; &quot; + payload.get(&quot;vergadering&quot;).get(&quot;datumbegin&quot;).toString().substring(11,19).replaceAll('-',':')]" doc:name="Set CreationDate (MH)"/>
        <expression-component doc:name="Set deel from filename"><![CDATA[#[flowVars.deel = flowVars.filenameEssence.replaceAll('^.*_([1-9]+)v[1-9]+\\..*', '$1') != flowVars.filenameEssence ?  (" (Deel " + flowVars.filenameEssence.replaceAll('^.*_([1-9]+)v[1-9]+\\..*', '$1') + "/" + flowVars.total + ") ") : "" ]]]></expression-component>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <flow-ref name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_DESCRIPTION" doc:name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_DESCRIPTION"/>
        <flow-ref name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_TRANSCRIPTIE_AND_DESCRIPTION_LANG" doc:name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_TRANSCRIPTIE"/>
        <set-payload value="#[flowVars.vergadering_response]" doc:name="Set Payload with vergadering_response"/>
        <dw:transform-message metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4" doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/json.json"/>
            <dw:input-variable variableName="comment"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	MediaHAVEN_external_metadata: {
		title: flowVars.titelType ++ " " ++ flowVars.deel ++ flowVars.datumTitel,
		description: flowVars.dc_description,
		MDProperties: {
			PID: flowVars.pid,
			CP: 'Vlaams Parlement',
			CP_id: 'OR-7h1dk9t',
			sp_name: 'borndigital',
			dc_source: flowVars.filenameEssence,
			dc_identifier_localid: flowVars.local_id,
			dc_identifier_localids @(type: "list"): {
				pdf: payload.vergadering.commissiehandelingen.pdffilewebpath when flowVars.type == "Commissie"
					otherwise payload.vergadering.plenairehandelingen.pdffilewebpath,
				bestandsnaam: flowVars.filenameEssence,
				api: 'http://ws.vlpar.be/e/opendata/verg/' ++ flowVars.local_id
			},
			dc_titles @(type: "list"): {
				reeks: payload.vergadering.commissie[0].titel when flowVars.type == "Commissie"
						otherwise "Plenair"
			},
			CreationDate: flowVars.CreationDate,
			dcterms_issued: flowVars.datumBegin,
			dcterms_created: flowVars.datumBegin,
			dc_contributors @(type: "list"): {
				voorzitter: payload.vergadering.voorzitter.voornaam ++ " " ++
							payload.vergadering.voorzitter.naam ++ " (" ++
							 payload.vergadering.voorzitter.fractie.naam ++ ")",
				(payload.vergadering.aanwezigheid map using (aanwezigheid = $) {
					(aanwezigheid.persoon map using (persoon = $) {
						(lower aanwezigheid.aanwezigheid-status): (persoon.voornaam ++ " " ++ persoon.naam ++ " (" ++ persoon.fractie.naam ++ ")")
						}
					)
				})		
			},
			dc_subjects @(type: "list"): {
				Trefwoord: "Vergaderzaal: " ++ payload.vergadering.vergaderzaal.naam when payload.vergadering.vergaderzaal.naam?
					otherwise ("Koepel" when flowVars.type == "Plenair" otherwise "onbekend")
			},
			dc_description: flowVars.dc_description,
			dc_description_lang: flowVars.dc_description_lang,
			dc_description_transcriptie: flowVars.transcriptie replace "&#13;" with "",
			dc_rights_licenses @(type: "list"): {
				multiselect: "VIAA-ONDERWIJS",
				multiselect: "VIAA-ONDERZOEK",
				multiselect: "VIAA-INTRA_CP-CONTENT",
				multiselect: "VIAA-INTRA_CP-METADATA-ALL",
				multiselect: "VIAA-PUBLIEK-METADATA-LTD",
				multiselect: "VIAA-PUBLIEK-METADATA-ALL"
			},
			dc_rights_rightsOwners @(type: "list"): {
				Auteursrechthouder: "Vlaams Parlement"
			},
			dc_rights_rightsHolders @(type: "list"): {
				Licentiehouder: "Vlaams Parlement"
			},
			md5: flowVars.md5metadata			
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set MappedXml"/>
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_DESCRIPTION">
    	<set-variable variableName="dc_description" value="#[&quot;&quot;]" doc:name="init dc_description"/>
        <foreach collection="#[payload.get('vergadering').get('agenda-item')]" doc:name="For Each agenda-item" counterVariableName="counterItem">
            <set-variable variableName="agenda_lijnen" value="#[&quot;&quot;]" doc:name="Init agenda_lijnen"/>
            <foreach collection="#[payload.get('agenda-lijn')]" doc:name="For Each agenda-lijn" counterVariableName="counterLijn">
                <set-variable variableName="titel" value="#[payload.titel != null ? payload.titel + &quot;\n&quot; : &quot;&quot;]" doc:name="Set titel"/>
                <set-variable variableName="omschrijving" value="#[payload.omschrijving != null ? payload.omschrijving + &quot;\n&quot; : &quot;&quot;]" doc:name="Set omschrijving"/>
                <set-variable variableName="agendalijntype" value="#[payload.'agenda-lijn-type' != null &amp;&amp; payload.'agenda-lijn-type'.naam != 'Tekst kader vet' ? payload.'agenda-lijn-type'.naam + &quot;\n&quot; : &quot;&quot;]" doc:name="Set agendalijntype"/>
                <set-variable variableName="debat" value="#[&quot;&quot;]" doc:name="Reset debat"/>
                <choice doc:name="debat &gt; 0?">
                    <when expression="#[payload.'debat'.size() &gt; 0]">
                        <foreach collection="#[payload.'debat']" doc:name="For Each debat">
                            <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ?  &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                            <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                            <set-variable variableName="debat" value="#[flowVars.'debat' != null ? (flowVars.'debat' + payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar)]" doc:name="Set debat"/>
                        </foreach>
                    </when>
                    <otherwise>
                        <set-variable doc:name="Set debat empty" value="#[&quot;&quot;]" variableName="debat"/>
                    </otherwise>
                </choice>
                <set-variable variableName="gedachtewisseling" value="#[&quot;&quot;]" doc:name="Reset gedachtewisseling"/>
            <choice tracking:enable-default-events="true" doc:name="Gedachtewisseling &gt; 0?">
                <when expression="#[payload.'gedachtewisseling'.size() &gt; 0]">
                    <foreach collection="#[payload.'gedachtewisseling']" doc:name="For Each gedachtewisseling">
                        <set-variable variableName="gedachtewisseling" value="#[flowVars.'gedachtewisseling' != null ? (flowVars.'gedachtewisseling' + payload.titel + &quot;\n&quot;) : (payload.titel + &quot;\n&quot;)]" doc:name="Set gedachtewisseling"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="gedachtewisseling" value="#[&quot;&quot;]" doc:name="Set gedachtewisseling empty"/>
                </otherwise>
            </choice>
                <set-variable variableName="parlementair_initiatieven" value="#[null]" doc:name="Reset parlementair_initiatieven"/>
                <choice doc:name="Parlementaire initieven &gt; 0?">
                    <when expression="#[payload.'parlementair-initiatief'.size() &gt; 0]">
                        <foreach collection="#[payload.'parlementair-initiatief']" doc:name="For Each parlementaire initiatief">
                            <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ?  &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                            <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                            <set-variable variableName="materie" value="#[payload.materie != null &amp;&amp; payload.materie != &quot;&quot; ? payload.materie + &quot;\n&quot; : &quot;&quot;]" doc:name="Set materie"/>
                            <set-variable variableName="volgnummer" value="#[payload.volgnr != null  &amp;&amp; payload.volgnr != &quot;&quot; ? &quot; nr. &quot; + payload.volgnr : &quot;&quot;]" doc:name="Set volgnummer"/>
                            <set-variable variableName="parlementair_initiatieven" value="#[flowVars.'parlementair_initiatieven' != null ? (flowVars.'parlementair_initiatieven' + payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;)]" doc:name="Set parlementair_initiatieven"/>
                        </foreach>
                    </when>
                    <otherwise>
                        <set-variable variableName="parlementair_initiatieven" value="#[&quot;&quot;]" doc:name="Set parlementair_initiatieven empty"/>
                    </otherwise>
                </choice>
                <set-variable variableName="vrageninterpellatie" value="#[null]" doc:name="Reset vrageninterpellatie"/>
                <choice doc:name="Vrageninterpellaties &gt; 0?">
                    <when expression="#[payload.vrageninterpellatie.size() &gt; 0]">
                        <foreach collection="#[payload.vrageninterpellatie]" doc:name="For Each vrageninterpellatie">
                            <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ? &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                            <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                            <set-variable variableName="materie" value="#[payload.materie != null  &amp;&amp; payload.materie != &quot;&quot; ? payload.materie + &quot;\n&quot; : &quot;&quot;]" doc:name="Set materie"/>
                            <set-variable variableName="volgnummer" value="#[payload.volgnr != null  &amp;&amp; payload.volgnr != &quot;&quot; ? &quot; nr. &quot; + payload.volgnr : &quot;&quot;]" doc:name="Set volgnummer"/>
                            <set-variable variableName="vrageninterpellatie" value="#[flowVars.vrageninterpellatie != null  ? (flowVars.vrageninterpellatie + payload.titel + &quot;\n&quot; + flowVars.nummer +  flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer +  flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot;+ flowVars.materie + &quot;\n&quot;)]" doc:name="Set vrageninterpellatie"/>
                        </foreach>
                    </when>
                    <otherwise>
                        <set-variable variableName="vrageninterpellatie" value="#[&quot;&quot;]" doc:name="Set vrageninterpellatie empty"/>
                    </otherwise>
                </choice>
                <set-variable variableName="agenda_lijnen" value="#[flowVars.agenda_lijnen += flowVars.agendalijntype + flowVars.debat + flowVars.gedachtewisseling + flowVars.'parlementair_initiatieven' + flowVars.vrageninterpellatie + flowVars.titel + flowVars.omschrijving + &quot;\n&quot;]" doc:name="Set agenda_lijnen"/>
            </foreach>
            <set-variable variableName="dc_description" value="#[flowVars.dc_description += flowVars.agenda_lijnen]" doc:name="Set dc_description by concat agenda_lijnen"/>
            <set-variable variableName="dc_description" value="#[flowVars.dc_description.replaceAll(&quot;\\&lt;[^&gt;]*&gt;&quot;,&quot;&quot;)]" doc:name="Remove html tags from dc_description"/>
        </foreach>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_VLAAMSPARLEMENT_TRANSCRIPTIE_AND_DESCRIPTION_LANG">
        <set-variable variableName="transcriptie" value="#[&quot;&quot;]" doc:name="Set transcriptie empty"/>
        <set-variable variableName="dc_description_lang" value="#[&quot;&quot;]" doc:name="Set dc_description_lang empty"/>
        <foreach collection="#[payload.get('vergadering').get('journaallijn')]" doc:name="For Each journaallijn">
            <set-variable variableName="journaalllijn_subtitel" value="#[payload.get(&quot;titel&quot;)]" doc:name="Set journaalllijn_subtitel"/>
            <set-variable variableName="journaallijn_voorzitter" value="#[&quot;Voorzitter: &quot; + payload.get(&quot;vergadering&quot;).get(&quot;voorzitter&quot;).get(&quot;aanspreking&quot;) + &quot; &quot; + payload.get(&quot;vergadering&quot;).get(&quot;voorzitter&quot;).get(&quot;voornaam&quot;) + &quot; &quot;  + payload.get(&quot;vergadering&quot;).get(&quot;voorzitter&quot;).get(&quot;naam&quot;)]" doc:name="Set journaallijn_voorzitter"/>
            <set-variable variableName="journaallijn_titel" value="#[payload.get(&quot;titel&quot;)]" doc:name="Set journaallijn_titel"/>
            <set-variable variableName="titel-samenstelling" value="#[payload.get(&quot;titel-samenstelling&quot;)]" doc:name="Set titel-samenstelling"/>
            <set-variable variableName="url" value="#[payload.get('link')[0].get('href')]" doc:name="Set url"/>
            <set-variable variableName="path" value="#[flowVars.url.substring(flowVars.url.indexOf('/e/opendata/'))]" doc:name="Set path"/>
            <http:request config-ref="vlaamsparlement_api" path="#[flowVars.path]" method="GET" doc:name="Get journaallijn">
                <http:request-builder>
                    <http:header headerName="Accept" value="application/json"/>
                </http:request-builder>
            </http:request>
            <byte-array-to-string-transformer doc:name="Byte Array to String"/>
            <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            <set-variable variableName="debat" value="#[&quot;&quot;]" doc:name="Reset debat"/>
            <set-variable variableName="gesprek" value="#[&quot;&quot;]" doc:name="Reset gesprek"/>
            <foreach collection="#[payload.get('spreker')]" doc:name="For Each spreker">
                <choice doc:name="Sprekertitel null?">
                    <when expression="#[payload.get('sprekertitel') == null]">
                        <set-variable variableName="gesprek" value="#[flowVars.gesprek + payload.get('sprekertekst').toString().replaceAll(&quot;\\&lt;[^&gt;]*&gt;&quot;,&quot;&quot;) + &quot;\n&quot;]" doc:name="Append sprekertekst to gesprek"/>
                    </when>
                    <when expression="#[payload.get('sprekertitel') == null &amp;&amp; payload.get('sprekertekst') == null]]">
                        <expression-component doc:name="Do nothing because sprekertitel en sprekertekst empty"><![CDATA[// do nothing]]></expression-component>
                    </when>
                    <otherwise>
                        <set-variable variableName="gesprek" value="#[flowVars.gesprek + payload.get('sprekertitel').toString().replaceAll(&quot;\\&lt;[^&gt;]*&gt;&quot;,&quot;&quot;) + &quot;: &quot; + payload.get('sprekertekst').toString().replaceAll(&quot;\\&lt;[^&gt;]*&gt;&quot;,&quot;&quot;) + &quot;\n&quot;]" doc:name="Append sprekertitel + sprekertekst to gesprek (remove first, last characters and html tags)"/>
                    </otherwise>
                </choice>
            </foreach>
            <choice doc:name="Choice">
                <when expression="#[flowVars.gesprek == &quot;&quot;]">
                    <expression-component doc:name="do nothing"><![CDATA[// do nothing]]></expression-component>
                </when>
                <otherwise>
                    <expression-component doc:name="Append gesprek to transcriptie"><![CDATA[#[flowVars.transcriptie += flowVars.journaallijn_titel + "\n" + flowVars.gesprek]]]></expression-component>
                </otherwise>
            </choice>
        </foreach>
        <custom-transformer class="utils.UnescapeHtml" doc:name="Remove HTML escaping"/>
        <set-variable variableName="transcriptie" value="#[payload]" doc:name="Set transcriptie with unescaped HTML"/>
        <foreach collection="#[flowVars.vergadering_response.get('vergadering').get('journaallijn')]" doc:name="For Each journaallijn">
            <set-variable variableName="journaallijn_titel" value="#[payload.titel + &quot;\n&quot;]" doc:name="Set journaallijn_titel"/>
            <set-variable variableName="debat" value="#[&quot;&quot;]" doc:name="Reset debat"/>
            <choice tracking:enable-default-events="true" doc:name="debat &gt; 0?">
                <when expression="#[payload.'debat'.size() &gt; 0]">
                    <foreach collection="#[payload.'debat']" doc:name="For Each debat">
                        <set-variable variableName="debat" value="#[flowVars.'debat' != null ? (flowVars.'debat' + payload.titel + &quot;\n&quot;) : (payload.titel + &quot;\n&quot;)]" doc:name="Set debat"/>
                        <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ?  &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                        <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                        <set-variable variableName="debat" value="#[flowVars.'debat' != null ? (flowVars.'debat' + payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar)]" doc:name="Set debat"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="debat" value="#[&quot;&quot;]" doc:name="Set debat empty"/>
                </otherwise>
            </choice>
            <set-variable variableName="parlementair_initiatieven" value="#[null]" doc:name="Reset parlementair_initiatieven"/>
            <choice doc:name="Parlementaire initieven &gt; 0?">
                <when expression="#[payload.'parlementair-initiatief'.size() &gt; 0]">
                    <foreach collection="#[payload.'parlementair-initiatief']" doc:name="For Each parlementaire initiatief">
                        <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ?  &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                        <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                        <set-variable variableName="materie" value="#[payload.materie != null &amp;&amp; payload.materie != &quot;&quot; ? payload.materie + &quot;\n&quot; : &quot;&quot;]" doc:name="Set materie"/>
                        <set-variable variableName="volgnummer" value="#[payload.volgnr != null  &amp;&amp; payload.volgnr != &quot;&quot; ? &quot; nr. &quot; + payload.volgnr : &quot;&quot;]" doc:name="Set volgnummer"/>
                        <set-variable variableName="parlementair_initiatieven" value="#[flowVars.'parlementair_initiatieven' != null ? (flowVars.'parlementair_initiatieven' + payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer + flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;)]" doc:name="Set parlementair_initiatieven"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="parlementair_initiatieven" value="#[&quot;&quot;]" doc:name="Set parlementair_initiatieven empty"/>
                </otherwise>
            </choice>
            <set-variable variableName="gedachtewisseling" value="#[&quot;&quot;]" doc:name="Reset gedachtewisseling"/>
            <choice tracking:enable-default-events="true" doc:name="Gedachtewisseling &gt; 0?">
                <when expression="#[payload.'gedachtewisseling'.size() &gt; 0]">
                    <foreach collection="#[payload.'gedachtewisseling']" doc:name="For Each gedachtewisseling">
                        <set-variable variableName="gedachtewisseling" value="#[flowVars.'gedachtewisseling' != null ? (flowVars.'gedachtewisseling' + payload.titel + &quot;\n&quot;) : (payload.titel + &quot;\n&quot;)]" doc:name="Set gedachtewisseling"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="gedachtewisseling" value="#[&quot;&quot;]" doc:name="Set gedachtewisseling empty"/>
                </otherwise>
            </choice>
            <set-variable variableName="verzoekschrift" value="#[&quot;&quot;]" doc:name="Reset verzoekschrift"/>
            <choice tracking:enable-default-events="true" doc:name="verzoekschrift &gt; 0?">
                <when expression="#[payload.'verzoekschrift'.size() &gt; 0]">
                    <foreach collection="#[payload.'verzoekschrift']" doc:name="For Each verzoekschrift">
                        <set-variable variableName="verzoekschrift" value="#[flowVars.'verzoekschrift' != null ? (flowVars.'verzoekschrift' + payload.titel + &quot;\n&quot;) : (payload.titel + &quot;\n&quot;)]" doc:name="Set verzoekschrift"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="verzoekschrift" value="#[&quot;&quot;]" doc:name="Set verzoekschrift empty"/>
                </otherwise>
            </choice>
            <set-variable variableName="vrageninterpellatie" value="#[null]" doc:name="Reset vrageninterpellatie"/>
            <choice doc:name="Vrageninterpellaties &gt; 0?">
                <when expression="#[payload.vrageninterpellatie.size() &gt; 0]">
                    <foreach collection="#[payload.vrageninterpellatie]" doc:name="For Each vrageninterpellatie">
                        <set-variable variableName="zittingsjaar" value="#[payload.zittingsjaar != null  &amp;&amp; payload.zittingsjaar != &quot;&quot; ? &quot;(&quot; + payload.zittingsjaar + &quot;)&quot; : &quot;&quot;]" doc:name="Set zittingsjaar"/>
                        <set-variable variableName="nummer" value="#[payload.nummer != null  &amp;&amp; payload.nummer != &quot;&quot; ? payload.nummer + &quot; &quot; : &quot;&quot;]" doc:name="Set nummer"/>
                        <set-variable variableName="materie" value="#[payload.materie != null  &amp;&amp; payload.materie != &quot;&quot; ? payload.materie + &quot;\n&quot; : &quot;&quot;]" doc:name="Set materie"/>
                        <set-variable variableName="volgnummer" value="#[payload.volgnr != null  &amp;&amp; payload.volgnr != &quot;&quot; ? &quot; nr. &quot; + payload.volgnr : &quot;&quot;]" doc:name="Set volgnummer"/>
                        <set-variable variableName="vrageninterpellatie" value="#[flowVars.vrageninterpellatie != null  ? (flowVars.vrageninterpellatie + payload.titel + &quot;\n&quot; + flowVars.nummer +  flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot; + flowVars.materie + &quot;\n&quot;) : (payload.titel + &quot;\n&quot; + flowVars.nummer +  flowVars.zittingsjaar + flowVars.volgnummer + &quot;\n&quot;+ flowVars.materie + &quot;\n&quot;)]" doc:name="Set vrageninterpellatie"/>
                    </foreach>
                </when>
                <otherwise>
                    <set-variable variableName="vrageninterpellatie" value="#[&quot;&quot;]" doc:name="Set vrageninterpellatie empty"/>
                </otherwise>
            </choice>
            <choice doc:name="Welke titel-samenstelling?">
                <when expression="#[flowVars.'titel-samenstelling' == 'N']">
                    <choice doc:name="When initiatieven are empty, use vrije tekst titel">
                        <when expression="#[(flowVars.vrageninterpellatie + flowVars.debat + flowVars.gedachtewisseling + flowVars.parlementair_initiatieven + flowVars.verzoekschrift) == &quot;&quot;]">
                            <set-variable variableName="dc_description_lang" value="#[dc_description_lang != &quot;&quot; ? (flowVars.dc_description_lang + &quot;\n&quot; + flowVars.journaallijn_titel) : flowVars.journaallijn_titel]" doc:name="Append to dc_description_lang (only vrije tekst titel)"/>
                        </when>
                        <otherwise>
                            <set-variable variableName="dc_description_lang" value="#[dc_description_lang != &quot;&quot; ? (flowVars.dc_description_lang + &quot;\n&quot; + flowVars.vrageninterpellatie + flowVars.debat + flowVars.gedachtewisseling + flowVars.parlementair_initiatieven + flowVars.verzoekschrift) : (flowVars.vrageninterpellatie + flowVars.debat + flowVars.gedachtewisseling + flowVars.parlementair_initiatieven + flowVars.verzoekschrift) ]" doc:name="Append to dc_description_lang (when N = geen vrije tekst titel, enkel initiatieven)"/>
                        </otherwise>
                    </choice>
                </when>
                <when expression="#[flowVars.'titel-samenstelling' == 'V']">
                  <set-variable variableName="dc_description_lang" value="#[dc_description_lang != &quot;&quot; ? (flowVars.dc_description_lang + &quot;\n&quot; + flowVars.journaallijn_titel) : flowVars.journaallijn_titel]" doc:name="Append to dc_description_lang (when V = enkel vrije tekst titel)"/>
                </when>
                <otherwise>
        	    	<set-variable variableName="dc_description_lang" value="#[dc_description_lang != &quot;&quot; ? (flowVars.dc_description_lang + &quot;\n&quot; + flowVars.journaallijn_titel +  &quot;\n&quot; +  flowVars.vrageninterpellatie + &quot;\n&quot; + flowVars.debat + flowVars.gedachtewisseling + flowVars.parlementair_initiatieven + flowVars.verzoekschrift) : (flowVars.journaallijn_titel + flowVars.vrageninterpellatie +  &quot;\n&quot; + flowVars.debat + flowVars.gedachtewisseling + flowVars.parlementair_initiatieven + flowVars.verzoekschrift) ]" doc:name="Append to dc_description_lang (normal)"/>
                </otherwise>
            </choice>
        </foreach>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_MEDIALAAN">
        <set-variable variableName="eventName" value="PI_METADATA_MAPPING" doc:name="Set Name"/>
        <set-variable variableName="comment" value="#[flowVars.httpResult]" doc:name="Set Comment"/>
        <set-payload value="#[flowVars.incomingXml]" doc:name="Set Payload with sidecar XML"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="is_from_tape" value="#[xpath3('//MAObject[@mdclass=&quot;NIEUWS_TAPE&quot;]') != &quot;&quot;]" doc:name="Set is_from_tape"/>
        <choice doc:name="Is from tape?">
            <when expression="#[flowVars.is_from_tape == true]">
                <flow-ref name="PI_METADATA_MAPPING_MEDIALAAN_DIGITIZATION" doc:name="PI_METADATA_MAPPING_MEDIALAAN_DIGITIZATION"/>
            </when>
            <otherwise>
                <flow-ref name="PI_METADATA_MAPPING_MEDIALAAN_BORNDIGITAL" doc:name="PI_METADATA_MAPPING_MEDIALAAN_BORNDIGITAL"/>
            </otherwise>
        </choice>
        <set-variable variableName="result" value="OK" doc:name="Set result OK"/>
        <set-variable variableName="comment" value="The input XML was mapped succesfully: #[payload]" doc:name="Set comment"/>
        <flow-ref name="PI_LOG" doc:name="PI_LOG"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_MEDIALAAN_DIGITIZATION">
        <set-variable variableName="main_title" value="#[xpath3('//Meta[@name=&quot;MAINTITLE&quot;]/text()')]" doc:name="Set main_title"/>
        <set-variable variableName="sourcesystem" value="#[xpath3('//Meta[@name=&quot;SOURCESYSTEM&quot;]/text()')]" doc:name="Set sourcesystem (will be mapped to SP)"/>
        <choice doc:name="When sourcesystem 20 == Memnon">
            <when expression="#[flowVars.sourcesystem == 20]">
                <set-variable variableName="sp_name" value="#[&quot;medialaan&quot;]" doc:name="Set sp_name to medialaan"/>
            </when>
            <otherwise>
                <set-variable variableName="sp_name" value="#[&quot;Memnon&quot;]" doc:name="Set sp_name to Memnon"/>
            </otherwise>
        </choice>
        <set-variable variableName="description" value="#[&quot;&quot;]" doc:name="Init description"/>
        <set-variable variableName="dc_titles_deelarchief" value="#[&quot;&quot;]" doc:name="Init dc_titles_deelarchief (one string seperated by \n, will be split later)"/>
        <set-variable variableName="coverage_spatial_list" value="#[&quot;&quot;]" doc:name="Init coverage_spatial_list"/>
        <set-variable variableName="authors_list" value="#[&quot;&quot;]" doc:name="Init authors_list"/>
        <set-variable variableName="dc_rightsowner_list" value="#[&quot;&quot;]" doc:name="Init dc_rightsowner_list"/>
        <set-variable variableName="local_ids" value="#[&quot;&quot;]" doc:name="Init local_ids"/>
        <set-variable variableName="broadcaster_list" value="#[&quot;&quot;]" doc:name="Init broadcaster_list"/>
        <set-variable variableName="count_items" value="#[xpath('//Link[@type=&quot;TAPE_CONTAINS_NEWSITEM&quot;]/Destination/text()').size()]" doc:name="Set count_items"/>
        <foreach collection="#[xpath('//Link[@type=&quot;TAPE_CONTAINS_NEWSITEM&quot;]/Destination/text()')]" doc:name="For Each VIDEO_NEWS item">
            <set-variable variableName="guid" value="#[payload.getData()]" doc:name="Set guid"/>
            <set-variable variableName="maintitle_item" value="#[xpath3('//MAObject/Meta[@name=&quot;MAINTITLE&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set maintitle_item"/>
            <set-variable variableName="dc_titles_deelarchief" value="#[flowVars.dc_titles_deelarchief + flowVars.maintitle_item + &quot;\n&quot;]" doc:name="Add to dc_titles_deelarchief"/>
            <set-variable variableName="contentdescription" value="#[xpath3('//MAObject/Meta[@name=&quot;CONTENTDESCRIPTION&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set contentdescription"/>
            <set-variable variableName="keywords" value="#[xpath3('//MAObject/Meta[@name=&quot;KEYWORDS&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set keywords"/>
            <set-variable variableName="comment" value="#[xpath3('//MAObject/Meta[@name=&quot;COMMENT&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set comment"/>
            <set-variable variableName="summary" value="#[xpath3('//MAObject/Meta[@name=&quot;SUMMARY&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set summary"/>
            <set-variable variableName="newstypes_id" value="#[xpath3('//MAObject/Meta[@name=&quot;NEWSTYPES&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set newstypes_id"/>
            <set-variable variableName="event_location_city_name" value="#[xpath3('//MVAttribute[@type=&quot;EVENT_LOCATION_CITY&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta/text()', flowVars.incomingXml)]" doc:name="Set event_location_city_name"/>
            <set-variable variableName="event_location_country_id" value="#[xpath3('//MVAttribute[@type=&quot;EVENT_LOCATION_COUNTRY&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta/text()', flowVars.incomingXml)]" doc:name="Set event_location_country_id"/>
            <set-variable variableName="coverage_spatial_list" value="#[flowVars.coverage_spatial_list + flowVars.event_location_country_name + &quot;\n&quot;]" doc:name="Add to coverage_spatial_list"/>
            <set-variable variableName="beeldarchief_id" value="#[xpath3('//MAObject/Meta[@name=&quot;BEELDARCHIEF_ID&quot; and parent::node()/GUID=&quot;' + flowVars.guid + '&quot;]/text()', flowVars.incomingXml)]" doc:name="Set beeldarchief_id"/>
            <set-variable variableName="local_ids" value="#[flowVars.local_ids + flowVars.beeldarchief_id + &quot;\n&quot;]" doc:name="Add beeldarchief_id to local_ids"/>
            <set-variable variableName="authors_id" value="#[xpath3('//MVAttribute[@type=&quot;AUTHORS&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta/text()', flowVars.incomingXml)]" doc:name="Set authors_id"/>
            <set-variable variableName="authors_list" value="#[flowVars.authors_list + flowVars.authors_name + &quot;\n&quot;]" doc:name="Append to authors_list"/>
            <set-variable variableName="source_id" value="#[xpath3('//MVAttribute[@type=&quot;SOURCE&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta/text()', flowVars.incomingXml)]" doc:name="Set source_id"/>
            <set-variable variableName="broadcast_date" value="#[xpath3('//MVAttribute[@type=&quot;BROADCASTING&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta[@name=&quot;BROADCAST_DATE&quot;]/text()', flowVars.incomingXml)]" doc:name="Set broadcast_date"/>
            <set-variable variableName="broadcast_time" value="#[xpath3('//MVAttribute[@type=&quot;BROADCASTING&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta[@name=&quot;BROADCAST_TIME&quot;]/text()', flowVars.incomingXml)]" doc:name="Set broadcast_time (HHMMSS)"/>
            <set-variable variableName="broadcaster_id" value="#[xpath3('//MVAttribute[@type=&quot;BROADCASTING&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta[@name=&quot;BROADCASTER&quot;]/text()', flowVars.incomingXml)]" doc:name="Set broadcaster_id"/>
            <set-variable variableName="newsprograms_id" value="#[xpath3('//MVAttribute[@type=&quot;NEWSPROGRAMS&quot; and @objectid=&quot;' + flowVars.guid + '&quot;]/Meta[@name=&quot;NEWSPROGRAMS&quot;]/text()', flowVars.incomingXml)]" doc:name="Set newsprograms_id"/>
            <flow-ref name="medialaan_country_codesSub_Flow" doc:name="medialaan_country_codesSub_Flow"/>
            <flow-ref name="medialaan_author_names" doc:name="medialaan_author_names"/>
            <flow-ref name="medialaan_source_names" doc:name="medialaan_source_names"/>
            <flow-ref name="medialaan_newstypes_names" doc:name="medialaan_newstypes_names"/>
            <flow-ref name="medialaan_newsprograms_names" doc:name="medialaan_newsprograms_names"/>
            <flow-ref name="medialaan_broadcaster_names" doc:name="medialaan_broadcaster_names"/>
            <set-variable variableName="dc_rightsowner_list" value="#[flowVars.dc_rightsowner_list + flowVars.source_name + &quot;\n&quot;]" doc:name="Append source_name to dc_rightsowner_list"/>
            <set-variable variableName="broadcaster_list" value="#[flowVars.broadcaster_list + flowVars.broadcaster_name + &quot;\n&quot;]" doc:name="Append broadcaster_name to broadcaster_list"/>
            <set-variable variableName="item_titel" value="#[&quot;-------------------\nItem &quot; + flowVars.counter + &quot;/&quot; + flowVars.count_items + &quot;\n-------------------\n&quot;]" doc:name="Set item_titel"/>
            <set-variable variableName="description" value="#[flowVars.description + flowVars.item_titel + &quot;Titel: &quot; + flowVars.maintitle_item + &quot;\nBeschrijving: &quot; + flowVars.contentdescription + &quot;\n&quot; + &quot;Sleutelwoorden: &quot; + flowVars.keywords + &quot;\n&quot; + &quot;Rechten-opmerking: &quot; + flowVars.comment + &quot;\n&quot; + &quot;Samenvatting: &quot; + flowVars.summary + &quot;\n&quot; + &quot;Nieuwstype: &quot; + flowVars.newstypes_name + &quot;\n&quot; + &quot;Stad: &quot; + flowVars.event_location_city_name + &quot;\n&quot; + &quot;Land: &quot; + flowVars.event_location_country_name + &quot;\n&quot; + &quot;Auteurs: &quot; + flowVars.authors_name + &quot;\n\n&quot;]" doc:name="Append item to global description"/>
        </foreach>
        <set-variable variableName="dcterms_issued" value="#[flowVars.broadcast_date.substring(0,4) + &quot;-&quot; + flowVars.broadcast_date.substring(4,6) + &quot;-&quot; + flowVars.broadcast_date.substring(6,8)]" doc:name="Set dcterms_issued from broadcast_date to yyyy-mm-dd"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4">
            <dw:input-payload doc:sample="sample_data/empty.xml"/>
            <dw:input-variable variableName="comment"/>
            <dw:input-variable variableName="local_ids"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml skipNullOn="everywhere"
%function split(name) name splitBy ","
---
{
	MediaHAVEN_external_metadata: {
		title: flowVars.main_title,
		description: flowVars.description,
		MDProperties: {
			sp_name: flowVars.sp_name,
			CP: flowVars.cp,
			CP_id: flowVars.cp_id,
			PID: flowVars.pid,
			dc_identifier_localid: flowVars.local_id,
			dc_identifier_localids @(type: "list"): {
				((flowVars.local_ids splitBy "\n") distinctBy $ filter ($ != 'null') map 
					beeldarchief_id: $
				)
			},
			md5: flowVars.md5metadata,
			dcterms_issued: flowVars.dcterms_issued,
			CreationDate: flowVars.dcterms_issued,
			dc_source: flowVars.filenameEssence,
			dc_titles @(type: "list"): {
				((flowVars.dc_titles_deelarchief splitBy "\n") distinctBy $ filter $ != 'null' map 
					item: $
				)
			},
			dc_description_lang: flowVars.description,
			dc_coverages @(type: 'list'): {
				((flowVars.coverage_spatial_list splitBy "\n") distinctBy $ filter $ != 'null' map 
					ruimte: $
				)
			},
			dc_creators @(type: 'list'): {
				((flowVars.authors_list splitBy "\n") distinctBy $ filter $ != 'null' map 
					auteur: $
				)
			},
			dc_publishers @(type: 'list'): {
				((flowVars.broadcaster_list splitBy "\n") distinctBy $ filter $ != 'null'  map 
					publisher: $
				)
			},
			dc_rights_rightsOwners @(type: 'list'): {
				((flowVars.dc_rightsowner_list splitBy "\n") distinctBy $ filter $ != 'null' map 
					auteursrechthouder: $
				)
			},
			dc_rights_licenses @(type: "list"): {
				licentie: "VIAA-licentie"
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set mappedXml"/>
    </sub-flow>
    <sub-flow name="PI_METADATA_MAPPING_MEDIALAAN_BORNDIGITAL">
        <set-variable variableName="main_title" value="#[xpath3('//Meta[@name=&quot;MAINTITLE&quot;]/text()')]" doc:name="Set main_title"/>
        <set-variable variableName="comment" value="#[xpath3('//Meta[@name=&quot;COMMENT&quot;]/text()')]" doc:name="Set comment"/>
        <set-variable variableName="contentdescription" value="#[xpath3('//Meta[@name=&quot;CONTENTDESCRIPTION&quot;]/text()')]" doc:name="Set contentdescription"/>
        <set-variable variableName="keywords" value="#[xpath3('//Meta[@name=&quot;KEYWORDS&quot;]/text()')]" doc:name="Set keywords"/>
        <set-variable variableName="summary" value="#[xpath3('//Meta[@name=&quot;SUMMARY&quot;]/text()')]" doc:name="Set summary"/>
        <set-variable variableName="beeldarchief_id" value="#[xpath3('//Meta[@name=&quot;BEELDARCHIEF_ID&quot;]/text()')]" doc:name="Set beeldarchief_id"/>
        <set-variable variableName="strata_description" value="#[xpath3('//Meta[@name=&quot;STRATADESCRIPTION&quot;]/text()')]" doc:name="Set strata_description"/>
        <set-variable variableName="event_location_city" value="#[xpath3('//Meta[@name=&quot;EVENT_LOCATION_CITY&quot;]/text()')]" doc:name="Set event_location_city"/>
        <set-variable variableName="event_location_country_id" value="#[xpath3('//Meta[@name=&quot;EVENT_LOCATION_COUNTRY&quot;]/text()')]" doc:name="Set event_location_country_id"/>
        <set-variable variableName="authors_id" value="#[xpath3('//Meta[@name=&quot;AUTHORS&quot;]/text()')]" doc:name="Set authors_id"/>
        <set-variable variableName="source_id" value="#[xpath3('//Meta[@name=&quot;SOURCE&quot;]/text()')]" doc:name="Set source_id"/>
        <set-variable variableName="newstypes_id" value="#[xpath3('//Meta[@name=&quot;NEWSTYPES&quot;]/text()')]" doc:name="Set newstypes_id"/>
        <set-variable variableName="broadcast_date" value="#[xpath3('//Meta[@name=&quot;BROADCAST_DATE&quot;]/text()')]" doc:name="Set broadcast_date (YYYYMMDD)"/>
        <set-variable variableName="dcterms_issued" value="#[flowVars.broadcast_date != &quot;&quot; ? flowVars.broadcast_date.substring(0,4) + '-' + flowVars.broadcast_date.substring(4,6) + '-' + flowVars.broadcast_date.substring(6,8) :  flowVars.filenameEssence.substring(0,4) + &quot;-&quot; + flowVars.filenameEssence.substring(4,6) + &quot;-&quot; + flowVars.filenameEssence.substring(6,8)]" doc:name="Set dcterms_issued (from broadcast_date) with YYYY-MM-DD format"/>
        <set-variable variableName="CreationDate" value="#[flowVars.dcterms_issued + &quot; 00:00:00&quot;]" doc:name="Set CreationDate from dcterms_issued (from EDTF to EXIF)"/>
        <set-variable variableName="broadcaster_id" value="#[xpath3('//Meta[@name=&quot;BROADCASTER&quot;]/text()')]" doc:name="Set broadcaster_id"/>
        <set-variable variableName="newsprograms_id" value="#[xpath3('//Meta[@name=&quot;NEWSPROGRAMS&quot;]/text()')]" doc:name="Set newsprograms_id"/>
        <flow-ref name="medialaan_country_codesSub_Flow" doc:name="medialaan_country_codesSub_Flow"/>
        <flow-ref name="medialaan_author_names" doc:name="medialaan_author_names"/>
        <flow-ref name="medialaan_source_names" doc:name="medialaan_source_names"/>
        <flow-ref name="medialaan_newstypes_names" doc:name="medialaan_newstypes_names"/>
        <flow-ref name="medialaan_newsprograms_names" doc:name="medialaan_newsprograms_names"/>
        <flow-ref name="medialaan_broadcaster_names" doc:name="medialaan_broadcaster_names"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="d696f7ed-e9b9-4f34-8265-1191510a0be4">
            <dw:input-payload doc:sample="sample_data/empty.xml"/>
            <dw:input-variable variableName="comment"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml skipNullOn="everywhere"
%function split(name) name splitBy ","
---
{
	MediaHAVEN_external_metadata: {
		title: flowVars.main_title,
		description: flowVars.contentdescription,
		MDProperties: {
			sp_name: 'borndigital',
			CP: flowVars.cp,
			CP_id: flowVars.cp_id,
			PID: flowVars.pid,
			dc_identifier_localid: flowVars.local_id,
			dc_identifier_localids @(type: "list"): {
				(beeldarchief_id: flowVars.beeldarchief_id) when flowVars.beeldarchief_id != ""
			},
			dc_relations @(type: "list"): {
				(is_verwant_aan: flowVars.pid_strata) when flowVars.pid_strata?,
				(is_verwant_aan: flowVars.pid_vtt) when flowVars.pid_vtt?,
				(is_verwant_aan: flowVars.pid_srt) when flowVars.pid_srt?
			},
			md5: flowVars.md5metadata,
			dcterms_issued: flowVars.dcterms_issued,
			CreationDate: flowVars.CreationDate,
			dc_source: flowVars.filenameEssence,
			dc_titles @(type: "list"): {
				(reeks: flowVars.newsprograms_name) when flowVars.newsprograms_name != ""
			},
			dc_types @(type: "list"): {
				(genre: flowVars.newstypes_name) when flowVars.newstypes_name != ""
			},
			dc_description_lang: flowVars.contentdescription,
			dc_description_short: flowVars.summary,
			(dc_description_ondertitels: flowVars.strata_description) when flowVars.strata_description != "", 
			dc_subjects @(type: "list"): {
				(trefwoord: flowVars.keywords) when flowVars.keywords != ""
			},
			dc_coverages @(type: 'list'): {
				(ruimte: flowVars.event_location_country_name) when flowVars.event_location_country_name?
			},
			dc_creators @(type: 'list'): {
				(auteur: flowVars.authors_name) when flowVars.authors_name != ""
			},
			dc_publishers @(type: 'list'): {
				(publisher: flowVars.broadcaster_name) when flowVars.broadcaster_name != ""
			},
			dc_rights_rightsOwners @(type: 'list'): {
				(auteursrechthouder: flowVars.source_name) when flowVars.source_name != ""
			},
			dc_rights_comment: flowVars.comment,
			dc_rights_licenses @(type: "list"): {
				licentie: "VIAA-licentie"
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-variable variableName="mappedXml" value="#[payload]" doc:name="Set mappedXml"/>
    </sub-flow>
    <sub-flow name="metadata_corrections">
        <set-variable variableName="mappedXml" value="#[flowVars.mappedXml.replaceAll('&lt;trefwoord&gt;', '&lt;Trefwoord&gt;').replaceAll('&lt;/trefwoord&gt;', '&lt;/Trefwoord&gt;')]" doc:name="Fix trefwoord -&gt; Trefwoord"/>
        <set-variable variableName="mappedXml" value="#[flowVars.mappedXml.replaceAll('&lt;auteursrechthouder&gt;', '&lt;Auteursrechthouder&gt;').replaceAll('&lt;/auteursrechthouder&gt;','&lt;/Auteursrechthouder&gt;')]" doc:name="Fix auteursrechthouder -&gt; Auteursrechthouder"/>
        <set-variable variableName="mappedXml" value="#[flowVars.mappedXml.replaceAll('&lt;licentiehouder&gt;', '&lt;Licentiehouder&gt;').replaceAll('&lt;/licentiehouder&gt;','&lt;/Licentiehouder&gt;')]" doc:name="Fix licentiehouder -&gt; Licentiehouder"/>
        <choice doc:name="Languages available?">
            <when expression="#[flowVars.mappedXml.indexOf('&lt;dc_languages type=&quot;list&quot;&gt;') == -1]">
                <logger message="No language metadata available" level="INFO" doc:name="No language metadata available"/>
            </when>
            <otherwise>
                <set-variable variableName="languages" value="#[flowVars.mappedXml.substring(flowVars.mappedXml.indexOf('&lt;dc_languages type=&quot;list&quot;&gt;'), flowVars.mappedXml.indexOf('&lt;/dc_languages&gt;'))]" doc:name="Set languages"/>
                <set-variable variableName="mappedXml" value="#[flowVars.mappedXml.replace(flowVars.languages, flowVars.languages.toLowerCase())]" doc:name="Fix languages to lowercase"/>
            </otherwise>
        </choice>
    </sub-flow>
</mule>
